{# Widget cover image #}
{% block _post_coverImage_widget %}
    <div class="col-md-4 cover-image-trick">
        {{ form_label(form) }}
        <div class="file-loading" data-image="">
            <input type="file" id="post_coverImage" name="post[coverImage]" data-browse-on-zone-click="true" data-show-upload="false">
        </div>
        <div class="indications-file">
            <p class="alert alert-info img-indication text-center">
                <span>jpg, png, gif | max. 4 Mo</span><br />
                <span>800px <i class="fas fa-chevron-right"></i> Taille <i class="fas fa-chevron-left"></i> 3000px</span>
            </p>
        </div>
    </div>
{% endblock %}

{% block _post_datePublish_widget %}
{{ form_label(form) }}
<div class="row no-gutters">
    <div class="col-6">
        {{ form_widget(form.date) }}
    </div>
    <div class="col-6">
        {{ form_widget(form.time) }}
    </div>
</div>
{% endblock %}

{% block _post_datePublish_time_widget %}
<div class="row no-gutters">
    <div class="col-6">
        {{ form_widget(form.hour) }}
    </div>
     <div class="col-6">
        {{ form_widget(form.minute) }}
    </div>
</div>
    
{% endblock %}

{# Widget upload gallery images #}
{% block _post_images_widget %}
    {{ form_label(form) }}
    <div class="gallery-image-trick">
        <div class="file-loading" data-image="">
            <input type="file" id="images" name="images[]" data-browse-on-zone-click="true" data-show-upload="false" multiple>
        </div>
        <p class="alert alert-info img-indication mt-1">
            jpg, png, gif | max. 4 Mo | 800px <i class="fas fa-chevron-right"></i> Taille <i class="fas fa-chevron-left"></i> 3000px | 10 images max.
        </p>
    </div>
{% endblock %}

{# Widget url vidéos #}
{% block _post_videos_widget %}
    <div class="form-group">
        <button type="button" id="add-video" class="btn btn-outline-danger">
            <i class="fas fa-plus"></i> Ajouter une vidéo  
            <i class="fab fa-youtube"></i> 
            <i class="fab fa-vimeo"></i> 
            <i class="fab fa-dailymotion"></i> 
        </button>
    </div>

    {{ form_widget(form) }}

    <input type="hidden" id="widgets-counter" value="0">
   
{% endblock %}

{# Entries form Videos #}
{% block _post_videos_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{# Overload form for all entries of form vidéos #}
{% block _post_videos_entry_widget %}
    <div class="form-group" id="block_{{ id }}">
        <div class="row no-gutters">
            <div class="col-11">
                <div class="row">
                    <div class="col">
                        {{ form_widget(form.url) }}
                    </div>
                </div>
            </div>
            <div class="col-1">
                <button type="button" data-action="delete" data-target="#block_{{id}}" class="btn btn-danger">x</button>
            </div>
        </div>
    </div>
{% endblock %}