{% for label, messages in app.flashes %}
    <div class="row d-flex justify-content-center">
        <div class="col-12 mx-3">
            <div class="alert alert-{{ label }}">
                {% for message in messages %}
                    <p>{{ message | raw }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endfor %}