{% extends "admin/base-admin.html.twig" %}

{% block title %}Modification de l'article numéro {{post.id}}{% endblock %}

{% block stylesheet %}
    {{ parent() }}

    <!-- Librairies -->
    <link rel="stylesheet" href="/assets/lib/bootstrap-fileinput-5.0.1/css/fileinput.css"> <!-- fileinput --> 
{% endblock %}

{% form_theme form '_partials/_collection.html.twig' %}

{% block body %}

<div class="container">

    <h1 class="my-5">Modification de l'article <b>#{{post.id}}</b></h1>

    {% include "/_partials/flash-messages.html.twig" %}
    
    <!-- Post Form -->
    <div class="row">
        <div class="col">
            <div class="card bg-light">
                <div class="card-header">
                    <div class="row">
                        <div class="col-lg-6 no-gutters col-12">
                            <h4 class="card-title">Article</h4>
                        </div>
                         {% if post.active and date(post.datePublish) <= date() and post.author.active %}
                            <div class="col-lg-6 no-gutters col-12 text-right">
                                <a href="{{ path('trick_show',{ 'slug': post.slug }) }}" target="_blank"> Voir l'article </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="card-body">
                    <div class="alert alert-info">
                        <strong>Auteur : </strong> {{ post.author.fullname | title }}<br>
                        <strong>Date de création : </strong> {{post.datecreate|date('d/m/Y H:i')}} <br>
                        <strong>Date de mise à jour : </strong> {% if post.dateupdate is not null %} {{post.dateupdate|date('d/m/Y H:i')}} {% else %} -- {% endif %}<br>
                        <strong>Statut : </strong>
                        {% if post.active and date(post.datePublish) <= date() and post.author.active %}
                            <span class="badge badge-success rounded"><i class="fas fa-wifi"></i> En ligne </span>
                        {% elseif post.active and date(post.datePublish) > date() and post.author.active %}
                            <span class="badge badge-warning rounded"><i class="fas fa-clock"></i> Programmé </span>
                        {% else %}
                            <span class="badge badge-danger rounded"><i class="fas fa-mask"></i> Hors ligne </span>
                        {% endif %}
                    </div>

                     {{ form_start(form) }}
                    <div class="row">
                        {{ form_widget(form.coverImage) }}
                        <div class="col-md-8">
                            <div class="form-group">
                                {{ form_label(form.title) }}
                                {{ form_widget(form.title) }}
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form_label(form.category) }}
                                        {{ form_widget(form.category) }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form_label(form.author) }}
                                        {{ form_widget(form.author) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        {{ form_widget(form.datePublish) }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <legend class="col-form-label required">Statut</legend>
                                        {{ form_widget(form.active) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        {{ form_label(form.heading) }}
                                        {{ form_widget(form.heading, {'attr': {'rows': '4'}} ) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                {{ form_label(form.content) }}
                                {{ form_widget(form.content) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                {{ form_widget(form.images) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                {{ form_label(form.videos) }}
                                <div class="videos-fieldset">{{ form_widget(form.videos) }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-12">
                            {{ form_widget(form.save) }}
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

    <!-- Comments list -->
    <div class="row mt-4">
        <div class="col">
            <div class="card bg-light">
                <div class="card-header">
                    <h4 class="card-title">Les commentaires</h4>
                </div>
                <div class="card-body">
                    {% if post.comments |length %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Auteur</th>
                                <th>Commentaire</th>
                                <th>Statut</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for comment in post.comments %}
                            <tr>
                                <td>{{ comment.id }}</td>
                                <td>
                                    <a href="{{ path('admin_users_edit', {'id': comment.author.id}) }}">
                                        <span class="d-none d-lg-block d-xl-inline-block">
                                            <img 
                                                src="{% if comment.author.avatar is null %} {{ avatars_dir ~ avatar_default }} {% else %} {{ avatars_dir ~ comment.author.avatar }} {% endif%}" 
                                                alt="Avatar de {{ comment.author.fullName | title }}" 
                                                class="mr-2 rounded-circle avatar avatar-mini"
                                            >
                                        </span>
                                        {{ comment.author.fullName | title }}
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ path('admin_comments_edit', {'id': comment.id}) }}" >
                                        {{ comment.content  | striptags | trim | u.truncate(80, '...') }}
                                    </a>
                                </td>
                                <td>
                                    {% if comment.status.id == 1 %}
                                        {% set badge = "badge-warning" %}
                                        {% set icon = "fas fa-times-circle" %}
                                    {% elseif comment.status.id == 2 %}
                                        {% set badge = "badge-info" %}
                                        {% set icon = "fas fa-check-circle" %}
                                    {% elseif comment.status.id == 3 %}
                                        {% set badge = "badge-secondary" %}
                                        {% set icon = "fas fa-times-circle" %}
                                    {% endif %}
                                    <span class="badge {{ badge }}"><i class=" {{ icon }}"></i> {{ comment.status.name }}</span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                        Cet article n'a pas encore de commentaires
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block js %}
    {{ parent() }}
    <script src="/assets/lib/bootstrap-fileinput-5.0.1/js/plugins/piexif.min.js"></script>
    <script src="/assets/lib/bootstrap-fileinput-5.0.1/js/plugins/sortable.min.js"></script>
    <script src="/assets/lib/bootstrap-fileinput-5.0.1/js/fileinput.js"></script>    
    <script src="/assets/lib/bootstrap-fileinput-5.0.1/js/theme.js"></script>
    <script src="/assets/lib/bootstrap-fileinput-5.0.1/js/locales/fr.js"></script>
    <script src="/assets/lib/ckeditor-4.13.1/ckeditor.js"></script>
    <script src="/assets/js/posts.js"></script>
    
    <script>
        const urls = JSON.parse('{{ urls|raw }}');
        const imagesInfos = JSON.parse('{{ imagesInfos|raw }}');
        const coverImage = JSON.parse('{{ imageCover|raw }}');

        $(document).ready(function(){
            initPostForm(coverImage)
            initFileUpload($("#images"), $("#post_old-images"),  urls, imagesInfos); // GalleryImages
        });

    </script>
{% endblock %}