{% extends "admin/base-admin.html.twig" %}

{% block title %}Administration{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1 class="my-3">Gestion des articles</h1>
   
    {% include "/_partials/flash-messages.html.twig" %}

    <div class="row m-3">
        <a href="{{ path('admin_posts_add') }}" class="btn btn-primary">Ajouter un article</a>
    </div>
    
    <div class="table-responsive">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th class="w-5 d-none d-lg-table-cell">#</th>
                    <th class="w-20">Titre</th>
                    <th class="w-10 d-none d-lg-table-cell">Catégorie</th>
                    <th class="w-10 text-center d-none d-lg-table-cell">Auteur</th>
                    <th class="w-10 text-center">Date de création</th>
                    <th class="w-10 text-center">Date de publication</th>
                    <th class="w-5 text-center d-none d-lg-table-cell">Nb de commentaires</th>
                    <th class="w-10 text-center">Statut</th>
                    <th class="w-10 d-none d-lg-table-cell text-center">Visibilité</th>
                    <th class="w-10 text-center">Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for post in pagination.data %}
                <tr>
                    <td class="w-5 d-none d-lg-table-cell">{{post.id}}</td>
                    <td class="w-20"><a href="{{ path('admin_posts_edit', {'id': post.id}) }}">{{post.title}}</a></td>
                    <td class="w-10 d-none d-lg-table-cell"><a href="{{ path('admin_category_edit', {'id': post.category.id}) }}">{{post.category.title}}</a></td>
                    <td class="w-10 d-none d-lg-table-cell">
                        <a href="{{ path('admin_users_edit', {'id': post.author.id}) }}">
                            <span class="d-none d-lg-block d-xl-inline-block">
                                <img 
                                    src="{% if post.author.avatar is null %} {{ avatars_dir ~ avatar_default }} {% else %} {{ avatars_dir ~ post.author.avatar }} {% endif %}" 
                                    alt="Avatar de {{ post.author.fullName | title }}" 
                                    class="mr-2 rounded-circle avatar avatar-mini"
                                >
                            </span>
                            {{ post.author.fullName | title }}
                        </a>
                        
                    </td>
                    <td class="w-10 text-center">
                        {{ post.dateCreate | format_datetime('long', 'none', locale='fr') }}
                    </td>
                    <td class="w-10 text-center">
                        {{ post.datePublish | format_datetime('long', 'none', locale='fr') }}
                    </td>
                    <td class="w-5 text-center d-none d-lg-table-cell">
                        {{ post.comments | length }}
                    </td>
                    <td class="w-10 text-center">
                        {% if post.active and date(post.datePublish) <= date() and post.author.active %}
                            <span class="badge badge-success rounded"><i class="fas fa-wifi"></i> En ligne </span>
                        {% elseif post.active and date(post.datePublish) > date() and post.author.active %}
                            <span class="badge badge-warning rounded"><i class="fas fa-clock"></i> Programmé </span>
                        {% else %}
                            <span class="badge badge-primary rounded"><i class="fas fa-mask"></i> Hors ligne </span>
                        {% endif %}
                    </td>
                     <td class="w-10 d-none d-lg-table-cell text-center">
                        {% if post.category.private %}
                            <span class="badge badge-dark rounded"><i class="fas fa-check-circle"></i> Privée </span>
                        {% else %}
                            <span class="badge badge-info rounded"><i class="fas fa-times-circle"></i> Publique </span>
                        {% endif %}
                    </td>
                    <td class="w-10 text-center actions">
                        <a href="{{ path('admin_posts_edit', {'id': post.id}) }}" class="btn btn-info"><i class="fas fa-edit"></i></a>
                        <a href data-toggle="modal" data-target="{{ '#confirmModal-' ~ post.id }}" class="btn btn-danger deleteBtn"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {{ pagination.display }}

    {% for post in pagination.data %}
        <div class="modal" id="{{ 'confirmModal-' ~ post.id }}">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    {{ render(controller('App\\Controller\\AdminPostController::confirmDelete', { 'id': post.id })) }}
                </div>
            </div>
        </div>
    {% endfor %}

</div>
{% endblock %}
