{% extends "admin/base-admin.html.twig" %}

{% block title %}Modification de l'article numéro {{post.id}}{% endblock %}

{% block stylesheet %}
    {{ parent() }}

    <!-- Librairies -->
    <link rel="stylesheet" href="/assets/lib/bootstrap-fileinput-5.0.1/css/fileinput.css"> <!-- fileinput --> 
{% endblock %}

{% form_theme form '_partials/_collection.html.twig' %}

{% block body %}

<div class="container">

    <h1 class="my-5">Ajout d'un article</h1>

    {% include "/_partials/flash-messages.html.twig" %}
    
    <!-- Formulaire -->
    <div class="row">
        <div class="col">
            <div class="card bg-light">
                <div class="card-header">
                    <h4 class="card-title">Article</h4>
                </div>
                <div class="card-body">

                     {{ form_start(form) }}
                    <div class="row">
                        {{ form_widget(form.coverImage) }}
                        <div class="col-md-8">
                            <div class="form-group">
                                {{ form_label(form.title) }}
                                {{ form_widget(form.title) }}
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form_label(form.category) }}
                                        {{ form_widget(form.category) }}
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        {{ form_label(form.author) }}
                                        {{ form_widget(form.author) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form_widget(form.datePublish) }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-form-label required">Statut</label>
                                        {{ form_widget(form.active) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        {{ form_label(form.heading) }}
                                        {{ form_widget(form.heading, {'attr': {'rows': '4'}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                {{ form_label(form.content) }}
                                {{ form_widget(form.content) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                {{ form_widget(form.images) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                {{ form_label(form.videos) }}
                                <div class="videos-fieldset">{{ form_widget(form.videos) }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-12">
                            {{ form_widget(form.save) }}
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block js %}
    {{ parent() }}
    <script src="/assets/lib/bootstrap-fileinput-5.0.1/js/plugins/piexif.min.js"></script>
    <script src="/assets/lib/bootstrap-fileinput-5.0.1/js/plugins/sortable.min.js"></script>
    <script src="/assets/lib/bootstrap-fileinput-5.0.1/js/fileinput.js"></script>    
    <script src="/assets/lib/bootstrap-fileinput-5.0.1/js/theme.js"></script>
    <script src="/assets/lib/bootstrap-fileinput-5.0.1/js/locales/fr.js"></script>
    <script src="/assets/lib/ckeditor-4.13.1/ckeditor.js"></script>
    <script src="/assets/js/posts.js"></script>
    
    <script>
        const urls = [];
        const imagesInfos = [];
        const coverImage = [];

        $(document).ready(function(){
            initPostForm(coverImage)
            initFileUpload($("#images"), '', urls, imagesInfos); // GalleryImages
        });

    </script>
{% endblock %}