<div class="modal-header">
    <h5 class="modal-title">{{ title }}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<form id="{{ idForm }}" action="{{ action }}" method="POST">
    <div class="modal-body">
        {{ text | raw }}
        {{ form_widget(form) }}
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary remove_item">Supprimer</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-ban" aria-hidden="true"></i>Annuler</button>
    </div>
</form>
