/* ===================================
    General
====================================== */
body, html { 
    width: 100vw;
    font-weight: 500;
}
.wrapper {
   margin-bottom:3rem;
}
.w-5 { width: 5%; }
.w-10 { width: 10%; }
.w-15 { width: 15%; }
.w-20 { width: 20%; }
.w-25 { width: 25%; }
.w-30 { width: 30%; }
.w-35 { width: 35%; }
.w-40 { width: 40%; }

/* ===================================
    Typo
====================================== */
.alert p {
    margin:0;
}
label, .form-group legend {
    font-size: 1.2rem;
    font-weight: 600;
}
/* ===================================
  Login
====================================== */
.admin-login {
    display: flex;
    justify-content: center;
    height: 100vh;
}
.admin-login .card {
    margin-top: 10%;
}

/* ===================================
    Users
====================================== */
.avatar {
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
}
.avatar-medium {
    min-height: 64px;
    min-width: 64px;
}
.avatar-mini {
    max-height: 24px;
    max-width: 24px;
}
.form-check {
    padding-left: 0;
}

/* ===================================
  FORM USER
====================================== */
.avatar-image .file-input {
    margin: 0 auto;
}
.avatar-image img {
    max-width: 100%;
}
.avatar-image .krajee-default.file-preview-frame,
.avatar-image .krajee-default.file-preview-frame:hover,
.cover-image-trick .krajee-default.file-preview-frame,
.cover-image-trick .krajee-default.file-preview-frame:hover {
    margin: 0 auto;
    padding: 0;
    border: none !important;
    box-shadow: none !important;
    text-align: center;
    float: none;
    clear: left;
}
.krajee-default.file-preview-frame .kv-file-content {
    width:100% !important;
}
.gallery-image-trick .krajee-default.file-preview-frame {
    max-width: 250px;
}

/* ===================================
  FORM POST
====================================== */
.videos-fieldset {
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 15px 15px 15px 20px;
    width: 100%;
    margin-bottom: 5px;
}
.cover-image-trick .file-input,
.cover-image-trick .indications-file {
    margin: 0 auto;
}
.cover-image-trick img {
    max-width: 100%;
}
/* ===================================
  RESPONSIVE
====================================== */
@media (max-width: 1024px) {
    /* Font awesome */
    .fas {
        font-size: .75rem;
    }
    .table-responsive td.actions { 
        padding: 0.75rem 0;
    }
    .table-responsive td.actions a.btn {
        padding: 0 0.25rem;
     }
}