{% extends "admin/base-admin.html.twig" %}

{% block title %}Edition d'utilisateur{% endblock %}

{% block stylesheet %}
    {{ parent() }}

    <!-- Librairies -->
    <link rel="stylesheet" href="/assets/lib/bootstrap-fileinput-5.0.1/css/fileinput.css"> <!-- Animate --> 
{% endblock %}

{% form_theme form _self %}

{% block body %}

<div class="container">

    <h1 class="my-5">Modification {{ user.fullName | title }}</b></h1>

    {% include "/_partials/flash-messages.html.twig" %}
    
    <!-- User Form -->
    <div class="row">
        <div class="col">
            <div class="card bg-light">
                <div class="card-header">
                    <div class="row">
                        <div class="col-lg-6 no-gutters col-12">
                            <h4 class="card-title">Informations</h4>
                        </div>
                        <div class="col-lg-6 no-gutters col-12 text-right">
                            <a href="{{ path('user_show',{ 'slug': user.slug }) }}" target="_blank"> Voir l'utilisateur </a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="alert alert-info">
                        <strong>Date de création : </strong> {{user.datecreate|date('d/m/Y H:i')}} <br>
                        <strong>Date de mise à  jour : </strong> {% if user.dateupdate is not null %} {{user.dateupdate|date('d/m/Y H:i')}} {% else %} -- {% endif %}<br>
                        <strong>Statut : </strong>
                        {% if user.active %}
                            <span class="badge badge-success rounded"><i class="fas fa-check-circle"></i> Actif </span>
                        {% else %}
                            <span class="badge badge-warning rounded"><i class="fas fa-times-circle"></i> Inactif </span>
                        {% endif %}
                    </div>

                    {{form_start(form)}}
                    <div class="row">
                        <div class="col-md-3 col-12">
                            {{ form_widget(form.avatar) }}
                        </div>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form_label(form.firstname) }}
                                        {{ form_widget(form.firstname) }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form_label(form.lastname) }}
                                        {{ form_widget(form.lastname) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form_label(form.pseudo) }}
                                        {{ form_widget(form.pseudo) }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group status-user">
                                        <legend class="col-form-label required">Statut</legend>
                                        {{ form_widget(form.active) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        {{ form_label(form.email) }}
                                        {{ form_widget(form.email) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 d-flex justify-content-center">
                            {{ form_widget(form.save) }}
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    
    <!-- Posts list -->
    <div class="row mt-4">
        <div class="col">
            <div class="card bg-light">
                <div class="card-header">
                    <h4 class="card-title">Ses contributions</h4>
                </div>
                <div class="card-body">
                    {% if user.posts |length %}
                        <div class="table-responsive">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th class="w-5 d-none d-lg-table-cell">#</th>
                                        <th class="w-25">Titre</th>
                                        <th class="w-10 text-center">Date de publication</th>
                                        <th class="w-10 text-center">Statut</th>
                                        <th class="w-10 text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for post in user.posts %}
                                    <tr>
                                        <td class="w-5 d-none d-lg-table-cell">{{ post.id }}</td>
                                        <td class="w-25">
                                            <a href="{{ path('admin_posts_edit', {'id': post.id}) }}">
                                                {{ post.title }}
                                            </a>
                                        </td>
                                        <td class="w-10 text-center">{{ post.datePublish | format_datetime('long', 'none', locale='fr') }}</td>
                                        <td class="w-10 text-center">
                                            {% if post.active and date(post.datePublish) <= date() and post.author.active %}
                                                <span class="badge badge-success rounded"><i class="fas fa-wifi"></i> En ligne </span>
                                            {% elseif post.active and date(post.datePublish) > date() and post.author.active  %}
                                                <span class="badge badge-warning rounded"><i class="fas fa-clock"></i> Programmé </span>
                                            {% else %}
                                                <span class="badge badge-danger rounded"><i class="fas fa-mask"></i> Hors ligne </span>
                                            {% endif %}
                                        </td>
                                        <td class="w-10 text-center actions">
                                            <a href="{{ path('admin_posts_edit', {'id': post.id}) }}" class="btn btn-info"><i class="fas fa-edit"></i></a>
                                            <a href data-toggle="modal" data-target="{{ '#confirmModal-' ~ post.id }}" class="btn btn-danger deleteBtn"><i class="fas fa-trash"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        Cet utilisateur n'a encore fait aucune contribution
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    
    <!-- Comments list -->
    <div class="row mt-4">
        <div class="col">
            <div class="card bg-light">
                <div class="card-header">
                    <h4 class="card-title">Ses commentaires</h4>
                </div>
                <div class="card-body">
                    {% if user.comments |length %}
                        <div class="table-responsive">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th class="w-5 d-none d-lg-table-cell">#</th>
                                        <th class="w-30">Commentaire</th>
                                        <th class="w-10 text-center">Date</th>
                                        <th class="w-10 text-center">Statut</th>
                                        <th class="w-10 text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for comment in user.comments %}
                                    <tr>
                                        <td class="w-5 d-none d-lg-table-cell">{{ comment.id }}</td>
                                        <td class="w-30">
                                            <a href="{{ path('admin_comments_edit', {'id': comment.id}) }}" >
                                                {{ comment.content  | striptags | trim | u.truncate(80, '...') }}
                                            </a>
                                        </td>
                                        <td class="w-10 text-center">{{ comment.dateCreate | format_datetime('long', 'none', locale='fr') }}</td>
                                        <td class="w-10 text-center">
                                        {% if comment.status.id == 1 %}
                                                {% set badge = "badge-warning" %}
                                                {% set icon = "fas fa-times-circle" %}
                                            {% elseif comment.status.id == 2 %}
                                                {% set badge = "badge-info" %}
                                                {% set icon = "fas fa-check-circle" %}
                                            {% elseif comment.status.id == 3 %}
                                                {% set badge = "badge-secondary" %}
                                                {% set icon = "fas fa-times-circle" %}
                                            {% endif %}
                                            <span class="badge {{ badge }}"><i class=" {{ icon }}"></i> {{ comment.status.name }}</span>
                                        </td>
                                        <td class="w-10 text-center actions">
                                            <a href="{{ path('admin_comments_edit', {'id': comment.id}) }}" class="btn btn-info"><i class="fas fa-edit"></i></a>
                                            <a href="#" data-toggle="modal" data-target="{{ '#confirmModal-' ~ comment.id }}" class="btn btn-danger deleteBtn"><i class="fas fa-trash"></i></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        Cet utilisateur n'a pas encore fait aucun commentaire
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block _account_avatar_widget %}
    <div class="avatar-image">
        <div class="file-loading" data-image="{{ app.user.avatar }}">
            <input type="file" id="account_avatar" name="account[avatar]" data-browse-on-zone-click="true" data-show-upload="false">
        </div>
        <div class="indications-file">
            <p class="alert alert-warning img-indication text-center">
                <span>jpg, png, gif | max. 4 Mo</span><br />
                <span>800px <i class="fas fa-chevron-right"></i> Taille <i class="fas fa-chevron-left"></i> 3000px</span>
            </p>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="/assets/lib/bootstrap-fileinput-5.0.1/js/plugins/piexif.min.js"></script>
    <script src="/assets/lib/bootstrap-fileinput-5.0.1/js/plugins/sortable.min.js"></script>
    <script src="/assets/lib/bootstrap-fileinput-5.0.1/js/fileinput.js"></script>    
    <script src="/assets/lib/bootstrap-fileinput-5.0.1/js/theme.js"></script>
    <script src="/assets/lib/bootstrap-fileinput-5.0.1/js/locales/fr.js"></script>
    <script>

        //Avatar image
        let avatarImage = [];

        //New user or empty avatar
        {% if user.id is not null %}
            let imageFile = $('.file-loading').data('image');
            if (imageFile.length) {
                avatarImage = JSON.parse('{{ imageAvatar|raw }}');
            }
        {% endif %}

        $(document).ready(function(){

            // Switch
            $('[data-toggle="switch"]').bootstrapSwitch();

            $('[data-action="delete"]').on('click', function(){
                let target = this.dataset.target;
                $(target).remove();
            });

            initAvatarImageUpload($("#account_avatar"), avatarImage);
        });

    </script>
{% endblock %}