{% extends "admin/base-admin.html.twig" %}

{% block title %}Administration{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1 class="my-5">Gestion des utilisateurs</h1>

    {% include "/_partials/flash-messages.html.twig" %}
    
    <div class="table-responsive">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th class="w-5 d-none d-lg-table-cell">#</th>
                    <th class="w-15">Nom</th>
                    <th class="w-15 d-none d-lg-table-cell">Rôle</th>
                    <th class="w-15 d-none d-lg-table-cell">Pseudo</th>
                    <th class="w-15 d-none d-lg-table-cell text-center">Date de création</th>
                    <th class="w-5 d-none d-lg-table-cell text-center">Nombre d'articles</th>
                    <th class="w-15 text-center">Statut</th>
                    <th class="w-15 text-center">Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for user in pagination.data %}
                <tr>
                    <td class="w-5 d-none d-lg-table-cell">{{user.id}}</td>
                    <td class="w-15">
                        <a href="{{ path('admin_users_edit', {'id': user.id}) }}">
                            <span class="d-none d-lg-block d-xl-inline-block">
                                <img 
                                    src="{% if user.avatar is null %} {{ avatars_dir ~ avatar_default }} {% else %} {{ avatars_dir ~ user.avatar }} {% endif %}" 
                                    alt="Avatar de {{ user.fullName | title }}" 
                                    class="mr-2 rounded-circle avatar avatar-mini"
                                >
                            </span>
                            {{ user.fullName | title }}
                        </a>
                    </td>
                    <td class="w-15 d-none d-lg-table-cell">
                        {% if user.userRoles | length %}
                            {% for role in user.userRoles %}
                                {{ role.name}} <br /> 
                            {% endfor %}
                        {% else %}
                            Visiteur
                        {% endif %}
                    </td>
                    <td class="w-15 d-none d-lg-table-cell">{{user.Pseudo}}</td>
                    <td class="w-15 d-none d-lg-table-cell text-center">
                        {{ user.dateCreate | format_datetime('long', 'none', locale='fr') }}
                    </td>
                    <td class="w-5 d-none d-lg-table-cell text-center">
                        {{ user.posts | length }}
                    </td>
                    <td class="w-15 text-center">
                        {% if user.active %}
                            <span class="badge badge-success rounded"><i class="fas fa-check-circle"></i> Actif </span>
                        {% else %}
                            <span class="badge badge-warning rounded"><i class="fas fa-times-circle"></i> Inactif </span>
                        {% endif %}
                    </td>
                    <td class="w-15 text-center actions">
                        <a href="{{ path('admin_users_edit', {'id': user.id}) }}" class="btn btn-info"><i class="fas fa-edit"></i></a>
                        <a href="#" data-toggle="modal" data-target="{{ '#confirmModal-' ~ user.id }}" class="btn btn-danger deleteBtn"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {{ pagination.display }}

    {% for user in pagination.data %}
        <div class="modal" id="{{ 'confirmModal-' ~ user.id }}">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                     {{ render(controller('App\\Controller\\AdminUserController::confirmDelete', { 'id': user.id })) }}
                </div>
            </div>
        </div>
    {% endfor %}

</div>
{% endblock %}