{% extends "base.html.twig" %}

{% block head %}
    {% include "admin/_partials/head.html.twig" %}
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/lib/bootstrap-switch-3.4/css/bootstrap-switch.css"> <!-- bootstrap-switch --> 
    <link rel="stylesheet" href="/assets/css/admin/sketchy-bootstrap.min.css" /> <!-- Bootstwatch Theme style -->
    <link rel="stylesheet" href="/assets/css/admin/admin-style.css" /> <!-- Overload theme style -->
{% endblock %}

{# Nav #}
{% block nav %}
    {% include "admin/_partials/nav.html.twig" %}
{% endblock %}

{# footer area start #}
{% block footer %}{% endblock %}

{# Common Scripts #}
{% block javascriptFiles %}
    {{ parent() }}
    {% include "admin/_partials/scripts.html.twig" %}
{% endblock %}

{# Custom Scripts #}
{% block js %}
    {{ parent() }}
    <script src="{{ asset("assets/js/main.js") }}"></script>
{% endblock %}
