<aside class="col-12 col-lg-3 float-right">
    {% include "front/blocs/about-me.html.twig" %}
    {% include "front/blocs/quote.html.twig" %}
    {% include "front/blocs/categories.html.twig" %}
    {% include "front/blocs/auto-promo.html.twig" %}    
</aside>