<footer class="footer-classic-dark bg-extra-dark-gray pt-3 pb-3 mt-5">            
    <div class="row no-gutters text-center pb-3 pt-3">
        <div class="col-12 md-margin-30px-bottom text-center last-paragraph-no-margin width-100">
            <div class="widget-title alt-font text-small text-medium-gray text-uppercase margin-15px-bottom font-weight-600">{{ footerPost.title }}</div>
            <p class="text-small width-100">{{ footerPost.content }}</p>
        </div>
    </div>
    <div class="row no-gutters border-color-medium-dark-gray pl-3 pr-3">
        <div class="col-lg-6 col-md-6 col-12 text-small text-md-right text-center partial">
            Réalisé avec le thème  <i class="text-deep-pink fas fa-star-of-life">
            </i> POFO de <a href="http://www.themezaa.com" target="_blank" title="ThemeZaa">ThemeZaa</a>
        </div>
        
        <div class="col-lg-6 col-md-6 col-12 text-small text-md-left text-center">
            &COPY; 2020 Armelle Braud - Crédits photos : Adobe Stock
        </div>
    </div>
</footer>

 <!-- start scroll to top -->
<a href="javascript:" id="return-to-top">
    <i class="fas fa-chevron-up"></i>
</a>