<nav class="
    navbar navbar-expand-lg fixed-top py-2
    {% if app.request.attributes.get('_route') != 'index' %} white {%endif%}
    ">
    <div class="container">
        <a href="/" title="Snowtricks" class="logo navbar-brand">
            <img src="/assets/img/snowtricks_logo_tspt_light_300.png" alt="Snowtricks" class="logo-light default">
            <img src="/assets/img/snowtricks_logo_tspt_dark_300.png" alt="Snowtricks" class="logo-dark">
        </a>
        <button type="button" data-toggle="collapse" data-target="#mobileMenu" aria-controls="mobileMenu" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button>
        
        <div id="mobileMenu" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li><a href="{{ path('index') }}" title="Accueil" class="nav-link">Accueil</a></li>
                <li><a href="#" data-toggle="modal" data-target="#contact-modal" title="Contact" class="nav-link">Contact</a></li>
                {% if app.user %}
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="accountDropdownLink" role="button" >
                            {{ app.user.fullName | title }}
                            <img 
                                src="{% if app.user.avatar is null %} {{ avatars_dir ~ avatar_default }} {% else %} {{ avatars_dir ~ app.user.avatar }} {% endif%}" 
                                class="avatar avatar-mini ml-1" 
                                alt="Avatar de {{ app.user.fullName | title }}"
                            >
                        </a>

                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropdownLink">
                            <a href="{{ path('trick_create') }}" class="dropdown-item">Rédiger un article</a>
                            <div class="dropdown-divider"></div>
                            <a href="{{ path('account_index') }}" class="dropdown-item">Mon compte</a>
                            <div class="dropdown-divider"></div>
                            <a href="{{ path('account_logout') }}" class="dropdown-item">Déconnexion</a>
                            {% if is_granted('ROLE_ADMIN') %}
                                <div class="dropdown-divider"></div>
                                <a href="{{ path('admin_index') }}" class="dropdown-item">Interface admin</a>
                            {% endif %}
                        </div>
                    </li>
                {% else %}
                    <li><a href="{{ path('account_register') }}" title="Inscription" class="nav-link">Inscription</a></li>
                    <li><a href="{{ path('account_login') }}" title="Connexion" class="nav-link">Connexion</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>