{% if paginationSlug is defined %}
    {% set routeParams = {'slug': paginationSlug } %}
{% else %}
    {% set routeParams = {} %}
{% endif %}
{% set anchor = '' %}
{% if app.request.attributes.get('_route') == 'trick_show' %}
    {% set anchor = '#comments' %}
{% endif %}
<div class="col-12 text-center margin-50px-top md-margin-25px-top position-relative">
    <div class="pagination text-small text-uppercase text-extra-dark-gray">
        <ul class="mx-auto">
            <li class="page-item {% if page == 1 %}disabled{% endif %}">
                <a class="page-link" href="{{ path(route, {'page' : 1} | merge(routeParams)) ~ anchor|raw }}">
                    <i class="fas fa-fast-backward"></i>
                </a>
            </li>
            <li class="page-item {% if page == 1 %}disabled{% endif %}">
                <a class="page-link" href="{{ path(route, {'page': page - 1} | merge(routeParams)) ~ anchor|raw }}">
                    <i class="fas fa-step-backward"></i>
                </a>
            </li>
            {% for i in range(max(page-2, 1), min(page+2, pages)) %}
            <li class="page-item {% if page == i %}active{% endif %}">
                <a class="page-link" href="{{ path(route, {'page': i} | merge(routeParams)) ~ anchor|raw }}">{{ i }}</a>
            </li>
            {% endfor %}
            <li class="page-item {% if page == pages %}disabled{% endif %}">
                <a class="page-link" href="{{ path(route, {'page': page + 1} | merge(routeParams)) ~ anchor|raw }}"><i class="fas fa-step-forward"></i></a>
            </li>
            <li class="page-item {% if page == pages %}disabled{% endif %}">
                <a class="page-link" href="{{ path(route, {'page' : pages} | merge(routeParams)) ~ anchor|raw }}"><i class="fas fa-fast-forward"></i></a> 
            </li>
        </ul>
    </div>
</div>