<div class="row mb-1">
    <div class="col-12">
        <div class="text-extra-dark-gray margin-20px-bottom alt-font text-uppercase text-small font-weight-600 aside-title"><span>{{ about.title }}</span></div>
        <img src="{{ tricks_dir ~ about.coverImage }}" alt="about me" class="margin-25px-bottom"/>
            {{ about.content | raw }}
    </div>
</div>
<div class="row text-center mb-4 ">
    <div class="col-12">
        <a href="#" class="btn btn-very-small btn-dark-gray text-uppercase" data-toggle="modal" data-target="#contact-modal" title="Contact" >Envoyer un message</a>
    </div>
</div>