<div class="margin-45px-bottom sm-margin-25px-bottom">
    <div class="text-extra-dark-gray margin-20px-bottom alt-font text-uppercase font-weight-600 text-small aside-title"><span>Categories</span></div>
    <ul class="list-style-6 margin-50px-bottom text-small">

        {% for category in categories %}
            <li>
                <a href="{{ path('category_show', {'slug': category.slug}) }}">
                    {{ category.title }}
                </a>
                <span>{{ category.nb }}</span>
            </li>
        {% endfor %}
    </ul>   
</div>