<div class="modal-header">
    <h5 class="modal-title">Suppression d'un article</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{ form_start(form, {'action': path('trick_confirm_delete', { 'id': post.id })}) }}
<div class="modal-body">
    Etes vous sur de vouloir supprimer l'article :
    <i>{{ post.title}}</i> ? <br />
    <strong>Attention cette action est irréversible.</strong>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal"> Annuler</button>
    <button type="submit" class="btn btn-primary"> OK</button>
</div>
{{ form_end(form) }}
