<section id="home" class="p-0 full-screen fit-videos position-relative">
    <div class="opacity-extra-medium bg-extra-dark-gray"></div>
        <div class="container position-relative full-screen">
            <div class="slider-typography text-center">
                <div class="slider-text-middle-main">
                    <div class="slider-text-middle">
                        <div class="col-12 col-md-8 mx-auto">
                            <span class="text-medium margin-20px-bottom d-block alt-font text-extra-light-gray">{{ punchline }}</span>
                            <h4 class="alt-font text-white-2 font-weight-600 text-uppercase">L'encyclopédie des figures de Snowboard</h4>
                            <a href="#edito" class="scrollto btn btn-small btn-white btn-rounded margin-15px-top">Explorer les tricks</a>
                        </div>
                    <div class="down-section text-center">
                        <a href="#edito" class="scrollto">
                            <i class="fas fa-arrow-down icon-extra-small text-white-2 bg-deep-pink padding-15px-all sm-padding-15px-all rounded-circle"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- start HTML5 video -->
    <video loop="" autoplay="" controls="" muted class="html-video" poster="{{asset('assets/img/front/header-snowgirl-img.jpg')}}">
        <source type="video/mp4" src="{{asset('assets/videos/header-snowgirl.mp4')}}">
        <source type="video/ogg" src="{{asset('assets/videos/header-snowgirl.ogg')}}">
        <source type="video/webm" src="{{asset('assets/videos/header-snowgirl.webm')}}">
    </video>
</section>