<div class="col-12 d-flex flex-wrap p-0 blog-details-comments mb-5">
    {% if comments|length  > 0 %}
        <div class="width-100 mx-auto text-center my-5">
            <div class="position-relative overflow-hidden width-100">
                <span class="text-small text-outside-line-full alt-font font-weight-600 text-uppercase text-extra-dark-gray">
                {{ nbComments }} Commentaire{% if nbComments > 1 %}s{% endif %}</span>
            </div>
        </div>
        
        {% for comment in comments %}
            <div class="row no-gutters width-100 author margin-15px-top">
                <div class="col-12 d-flex flex-column flex-md-row align-items-center align-items-md-start border border-color-extra-light-gray p-5">
                    <div class="width-150px text-center sm-width-100">
                        <img 
                            src="{% if comment.author.avatar is null %} {{ avatars_dir ~ avatar_default }} {% else %} {{ avatars_dir ~ comment.author.avatar }} {% endif%}"
                            class="rounded-circle width-100px" alt="Avatar de {{ comment.author.fullName | title  }}" 
                        />
                    </div>
                    <div class="width-100 last-paragraph-no-margin sm-no-padding-left text-center text-md-left">
                        <p class="no-margin">
                            <a href="{{ path('user_show', {'slug': comment.author.slug }) }}" class="text-extra-dark-gray text-uppercase alt-font font-weight-600 margin-10px-bottom d-inline-block text-small">
                                {{ post.author.fullname | title }}
                            </a>
                        </p>
                        <p class="no-margin">{{ comment.dateCreate | format_datetime('long', 'short', locale='fr') }}</p>
                        <p class="">
                            {{ comment.content }}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
        
        {{ pagination.display }}
        
    {% else %}
        <div class="width-100 mx-auto text-center my-5">
            <div class="position-relative overflow-hidden width-100">
                <span class="text-small text-outside-line-full alt-font font-weight-600 text-uppercase text-extra-dark-gray">
                Commentaires</span>
            </div>
        </div>
   
        <div class="col-12 blog-details text-center mn-3">
            <p class="text-small">Cet article n'a pas encore recueilli de commentaires</p>
        </div>
    {% endif %}
</div>
