<div class="modal fade" id="contact-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
        <div class="modal-content">
            
            <div id="loading-overlay"> 
               <div class="d-flex flex-column align-items-center justify-content-center w-100">
                    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status"> 
                        <span class="sr-only">Loading</span>
                    </div> 
                </div>
            </div>
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Contact</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {{ form_start(form, {'attr': {'id': 'contactMessageForm'}}) }}
            <div class="modal-body">
                <div class="bg-white border-radius-6">
                    <div class="text-extra-dark-gray alt-font text-large font-weight-bolder mb-3 text-center">
                        <i class="far fa-envelope fa-5x"></i>
                    </div> 
                    <div class="container my-2 result-message-contact">
                        <div class="alert"><p></p></div>
                    </div>
                    <div>
                        {{ form_widget(form) }}
                    </div>
                </div>

                <span><i>Tous les champs obligatoires</i></span>
            </div>
            <div class="modal-footer">        
                <button type="button" class="btn btn-small  btn-secondary border-radius-4" data-dismiss="modal">Annuler</button>
                <button type="submit" id="sendContactMessage" class="btn btn-small btn-dark border-radius-4">Envoyer</button>
            </div>
            {{form_end(form)}}   
        </div>
    </div>
</div>