<div class="bg-deep-pink padding-30px-all text-white-2 text-center margin-45px-bottom sm-margin-25px-bottom">
    <i class="fas fa-quote-left icon-small margin-15px-bottom d-block"></i>
    <span class="text-large font-weight-300 margin-20px-bottom d-block">
        Certaines personnes attachent des snowboards à leurs pieds, très peu les attachent à leur âme.</span>
    <span class="border border-light rounded text-uppercase p-2 text-small">Shawn White</span>
</div>