<div class="col-12 d-flex flex-wrap p-0">
    <div class="col-12 mx-auto text-center margin-40px-tb md-margin-25px-tb sm-margin-30px-tb">
        <div class="position-relative overflow-hidden width-100">
            <span class="text-small text-outside-line-full alt-font font-weight-600 text-uppercase text-extra-dark-gray">Écrire un commentaire</span>
        </div>
    </div>
    
    <div class="col-12 mx-auto text-center">
        {% if app.user %}
            <div class="row">
                <div class="col-12 col-lg-6 form-group">
                    <input name="pseudo" id="pseudo" type="text" placeholder="Pseudo" class="extra-big-input form-control" disabled readonly value="{{ app.user.fullname | title }}" />
                </div>
                <div class="col-12 col-lg-6 form-group">
                    <input name="email" id="email" type="text" placeholder="E-mail *" class="extra-big-input form-control" disabled readonly required value="{{ app.user.email }}">
                </div>
                <div class="col-12 no-gutters form-group">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <div class="col-12 text-center">
                        <button class="btn btn-dark-gray btn-small margin-15px-top">Envoyer</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        {% else %}
            <div class="col-12">
                <p class="text-small">Vous devez être connecté pouvoir commenter cet article<p>
                <a href="{{ path('account_register') }}" class="btn btn-secondary btn-small btn-rounded">S'inscrire</a>
                <a href="{{ path('account_login') }}" class="btn btn-secondary btn-small btn-rounded">Se connecter</a>
            </div>
        {% endif %}
    </div>
</div>