{% extends "admin/base-admin.html.twig" %}

{% block title %}Interface d'administration{% endblock %}

{% block body %}
<div class="container admin-login">
    <div class="col-md-6">
        <div class="card border-info">
            <div class="card-header bg-info text-white text-center">
                <h4 class="card-title">
                    <i class="fas fa-lock"></i>
                    Interface d'administration
                </h4>
            </div>

            <div class="card-body">
                 {% if error %}
                    <div class="alert alert-warning">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <form method="post">
                    <div class="form-group">
                        <label for="_username">Email</label>
                        <input type="text" class="form-control" placeholder="Adresse email" name="_username" value="{{ username }}">
                    </div>
                    <div class="form-group">
                        <label for="_password">Mot de passe</label>
                        <input type="password" class="form-control" placeholder="Mot de passe" name="_password">
                    </div>
                    <div class="row text-center">
                        <div class="col-md-6 col-12">
                            <button type="submit" class="btn btn-info">
                                <i class="fas fa-lock-open"></i>
                                Connexion
                            </button>
                        </div>
                        <div class="col-md-6 col-12">
                            <a href="{{ path('index') }}" class="btn btn-link">
                                Aller sur le site
                                <i class="fas fa-arrow-circle-right"></i>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
