/**
*Overload theme style
**/

@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

/* ===================================
   GENERAL
====================================== */
/* font family */
.alt-font { font-family: 'Lato', sans-serif;}
.main-font {font-family: 'Roboto', sans-serif;}

html {
    width:100%;
}
body { 
    font-size:0.9rem;
    color:#6f6f6f;
    font-weight: 400;
    line-height: 24px;
    width:100vw;
    max-width: 100%;
}
section:not(#home) {
    padding:0;
    margin: 90px 0 0 0;
}
.wrapper {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.container:not(.nav-header-container, .result-message-contact) {
    width: 100vw;
    height: calc(100vh - 215px)
}
#edito {
    margin:0;
    padding:0;
}
.full-screen {
    height: 100vh;
}
.modal {
    width: 100vw;
}

/* ===================================
   NAVBAR
====================================== */
.navbar {
    transition: all 0.4s;
    width: 100vw;
}

.navbar .nav-link {
    color: #fff;
    padding: 0;
    margin: 0 20px;
    background: transparent;
    border-color: transparent;
    font-weight: 600;
    font-size: 0.9rem;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.015em;
    line-height: 20px;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #fff;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #fff;
}
.navbar .navbar-brand img {
    height: 60px;
}
a.dropdown-item.active,
a.dropdown-item:active,
a.dropdown-item.hover,
a.dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: #62013C;
}

/* Change navbar styling on scroll */
.navbar.white {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.white .nav-link,
.navbar.white .nav-link .inner-link {
    color: #555;
}

.navbar.white .nav-link:hover,
.navbar.white .nav-link:focus {
    color: #555;
    text-decoration: none;
}
nav a, nav a:active, nav a:focus {
    color: #fff;
    text-decoration: none;
}

/*===================================
   LOGOS
====================================== */
.navbar:not(.white) .logo .logo-light,
.navbar.white .logo .logo-light {
    visibility: visible;  
    opacity: 1; 
    max-height: 60px;
    transition-duration:0.2s; 
    -webkit-transition-duration: 0.2s; 
    -moz-transition-duration: 0.2s; 
    -ms-transition-duration: 0.2s; 
    -o-transition-duration: 0.2s;
}
.navbar:not(.white) .logo .logo-dark, 
.navbar.white .logo .logo-light {
    visibility: hidden; 
    opacity: 0; 
    height: 0; 
    transition-duration:0.2s; 
    -webkit-transition-duration: 0.2s; 
    -moz-transition-duration: 0.2s; 
    -ms-transition-duration: 0.2s; 
    -o-transition-duration: 0.2s;
}

/* ===================================
   FOOTER
====================================== */
footer.footer-classic-dark {
    bottom: 0;
    width: 100%;
}
footer .partial::after
{
    content: "|";
    padding: 0 6px;
}

/* ===================================
   TYPOGRAPHY
====================================== */
/* heading */
h1, h2, h3, h4, h5, h6 {margin:0 0 25px; padding:0; letter-spacing: 0; font-weight: 400;}
h1 {font-size:2.5rem; line-height:3.5rem;}
h2 {font-size:2rem; line-height:3rem}
h3 {font-size:1.75rem; line-height:2.75rem}
h4 {font-size:1.50rem; line-height:2.5rem}
h5 {font-size:1.25rem; line-height:2.25rem}
h6 {font-size:1rem; line-height:2rem}

label, legend {
    margin-bottom: 5px;
    font-weight: 700;
}
.alert p {
    margin:0;
}
.btn i {
    margin-left: 0;
    vertical-align: middle;
    position: relative;
    top: -1px;
}
h1,h2,h3 {
    font-family: 'Oswald', Arial, Verdana, 'Helvetica Neue', Helvetica, sans-serif;
}
header.sticky nav.navbar.white-link .navbar-nav > li > a:hover, 
header.sticky nav.navbar.bootsnav.white-link ul.nav > li > a:hover {
    color:#62013C !important;
}
a:hover:not(.btn, .dropdown-item) {
    color:#ff214f !important;
}
.fas.margin {
    margin-right: 0.4rem;
}

/* ===================================
   TITLES
====================================== */
.entry-header {
    margin:5rem 0;
    text-align: center;
}
.page-title {
    background: url('../../assets/img/front/section-header.png') repeat-x 0 50%;
    line-height: 120%;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-weight: 400;
    color: #000;
}
.page-title span {
    display: inline-block;
    background: #fff;
    margin: 0 20px;
    padding: 0 20px;
}

/* ===================================
   PAGINATION
====================================== */
.page-item .page-link { 
    color: #6c757d;
}
.page-item.disabled .page-link {
    color: #ccc;
    border:0;
}
.page-item.active .page-link  {
    background-color: #62013C;
    border-color: #62013C;
}

.pagination {
    padding: 30px 0;
    text-align: center;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

/* ===================================
   BUTTONS
====================================== */
.btn:visited,
.btn:focus,
.btn:hover,
.btn:active {
    color:#fff;
}
.btn.btn-white:visited,
.btn.btn-white:focus,
.btn.btn-white:hover,
.btn.btn-white:active {
    color: #232323;
    background: #ffffff;
    border-color: #ffffff;
}
.btn.btn-rounded.btn-small {
    padding: 0px 25px;
}
.btn.btn-theme {
    background-color: #ff214f;
    color:#fff;
    border-color: #ff214f;
}
.btn.btn-theme:hover {
    background-color: #BF193B;
    border-color: #BF193B;
    color:#fff;
}
.btn.btn-logo {
    background-color: #62013C;
    color:#fff;
    border-color: #62013C;
}
.btn.btn-logo:hover {
    background-color: #8F0358;
    border-color: #8F0358;
    color:#fff;
}


/* ===================================
   HOME
====================================== */

/*Load More*/
#loadLess,
#edito div.grid-item {
    display: none;
}

/*Header video*/
section.full-screen {
    height: 100vh;
    text-align: left;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* Cards */
.blog-post-style3 .grid-item .blog-post {
    max-width: 350px;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
}
.blog-post-style3 .grid-item .blog-post-images {
    height: 250px;
}
.blog-post-style3 .grid-item .blog-post img {
    height: 250px;
    width: auto;
    max-width: 500%;
}
.blog-image a > img {width: 100%}
.post-details a .text-extra-dark-gray:hover,
.post-details a .text-extra-dark-gray:active {
    color: #ff214f;
    text-decoration: none;
}
.blog-post-content .post-meta,
.post-details .post-meta {
    font-family: 'Oswald', Arial, Verdana, 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: 0.05em;
}
.post-details .post-category span {
    display: inline-block;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
}
.post-details .post-category::after {
    content: "|";
    padding: 0 5px;
}
.grid-item .blog-post .author img {
    width: 25px;
}
.grid-item .blog-post .blog-post-images a {
    display: block;
}
.grid-item .blog-post .blog-post-images .blog-hover-icon {
    position: absolute; 
    height: 100%; 
    width: 100%; 
    background: rgba(0,0,0,0.5); 
    top: 0; 
    left: 0; 
    text-align: 
    center; opacity: 0;
}
.grid-item .blog-post:hover .blog-post-images .blog-hover-icon {
    opacity: 1
}
.grid-item .blog-post .blog-post-images .blog-hover-icon span {
    top: 35%; 
    position: relative; 
    font-size: 48px; 
    color: #fff; 
    opacity: 0
}
.grid-item .blog-post:hover .blog-post-images .blog-hover-icon span {
    top: 40%;
    opacity: 1;
}

.blogCategory a {
    padding: 5px 10px 2px;
    border: 1px solid #616161;
    color: #616161;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}
.blogCategory a:hover {
    background: #616161;
    color: #fff;
    text-decoration: none;
}
/* ===================================
   CONTACT
====================================== */
#contact label,
#contact input {
    margin-bottom:0;
}
#contact-modal .modal-body {
    padding:2rem;
}
#loading-overlay .spinner-border {
    margin-top: 50%;
    z-index: 1;
    border-right-color: #fff;
}
#loading-overlay {
    display:none;
    position: absolute;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}

/* ===================================
   BLOG
====================================== */
blockquote {
    margin:0;
    padding: 15px 20px;
}
.blog-details-text img.cover-image {
    max-height: 800px;
}
/*Carousel*/
.medias .media-title h2{
    margin-bottom:0;
}
.carousels .carousel { 
    box-shadow: 0 0 15px 0 #444; 
}
.carousels .carousel-control-prev { 
    border-bottom: 0; 
}
.carousels .carousel-control-next { 
    border-bottom: 0; 
}
.carousels .carousel-inner {
    height: 18.75rem;
    background: #000;
}
#carousel-video .carousel-inner .carousel-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.carousels .carousel-indicators li { 
    width: 16px; 
    height: 16px; 
    margin-left: 5px; 
    margin-right: 5px; 
    border-radius: 50%; 
}
.carousels div.carousel div.carousel-item > img {
    width: 100%;
    height: 18.75rem;
}
div.carousel div.carousel-item>iframe {
    width: 100%;
    height: 18.75rem;
    border: 0;
    display: block;
}
.carousels .carousel-inner > .carousel-item  > img{
    margin:auto;
    width:100%
}
.carousels .carousel-item {
    text-align: center;
    height: 100%;
}
.carousels .parent {
    min-height: 200px;
}
.carousels .fully .carousel-inner .carousel-item {
    position: relative;
    height:100%;
}
.carousels .fully .carousel-inner {
    height: 510px;
    background:#000;
}
.carousels .fully .carousel-item img {
    display: block;
    margin: auto;
}

/*Content */
.first-letter-block {
    font-size: 1.7rem;
    height: 40px;
    width: 40px;
    padding: 9px 0;
}
.first-letter {
    margin: 0 10px 0 0;
}
.content-post h1,
.content-post h2,
.content-post h3,
.content-post h4 {
    margin: 0;
}


/* ===================================
  FORM POST
====================================== */
.avatar-image .file-input {
    /*display: table-cell;*/
    margin: 0 auto;
}
.cover-image-trick .file-input,
.cover-image-trick .indications-file {
    margin: 0 auto;
}
.avatar-image .file-input,
.avatar-image .indications-file {
    width: 250px;
    margin: 0 auto;
}
.avatar-image .krajee-default.file-preview-frame,
.avatar-image .krajee-default.file-preview-frame:hover,
.cover-image-trick .krajee-default.file-preview-frame,
.cover-image-trick .krajee-default.file-preview-frame:hover {
    margin: 0 auto;
    padding: 0;
    border: none !important;
    box-shadow: none !important;
    text-align: center;
    float:none;
    clear: left;
}
.krajee-default.file-preview-frame .kv-file-content {
    width:100% !important;
}
.gallery-image-trick .krajee-default.file-preview-frame {
    max-width: 250px;
}
#post_datePublish_date {
    margin-right:1rem;
}
.videos-fieldset {
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 15px 15px 15px 20px;
    width: 100%;
    margin-bottom: 5px;
}
.form-check {
    padding-left: 0;
}
/* ===================================
  USERS
====================================== */
.avatar {
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
}
.avatar-medium {
    min-height: 64px;
    min-width: 64px;
}
.avatar-mini {
    max-height: 24px;
    max-width: 24px;
}
.status-user .form-check {
    padding-left:0;
}

/* ===================================
   CATEGORIES
====================================== */
/* Cards  */
.blog-post-content .post-meta .post-category::after,
.blog-post-content .post-meta .post-date::after
{
    content: "|";
    padding: 0 6px;
}


/* ===================================
   Errors
====================================== */

.page-error {
    position: relative;
}
.page-error-inner{
    margin:0;
    padding:0;
    line-height: 1;
    height: 100vh;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
}
.page-error-inner.page-403{
    background: url(../../assets/img/front/hp.jpg) no-repeat center fixed; 
}
.page-error-inner.page-404{
    background: url(../../assets/img/front/perdu.jpg) no-repeat center fixed; 
}
.page-error-inner.page-500{
    background: url(../../assets/img/front/secours.jpg) no-repeat center fixed; 
}
.page-error-inner .large {
    margin-bottom: 12px;
    color: #c52127;
    font-family: "Roboto Condensed",sans-serif;
    font-weight: bold;
    font-size: 8rem;
}
.page-error-inner .text {
    color: #353637;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
}
.page-error .content {
    height: 50vh;
}


/* ===================================
   Load More
====================================== */
#loadMore {
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
}
#loadMore a {
    background: #042a63;
    border-radius: 3px;
    color: white;
    display: inline-block;
    padding: 10px 30px;
    transition: all 0.25s ease-out;
    -webkit-font-smoothing: antialiased;
}
#loadMore a:hover {
    background-color: #021737;
}

/* ===================================
   Return to top
====================================== */
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
}