@media (max-width: 1199px) {
    header nav.navbar .navbar-brand {
        width: 60%;
    }
    header nav.navbar .navbar-nav li {
        margin: 1rem 0;
    }
    header nav.navbar > li > a {
        margin: 0 ;
    }
    header nav.navbar  .navbar-toggler {
        color:#fff;
    }
    header nav.navbar.white .navbar-toggler {
        color:#555;
    }
    .breadcrumb ul > li:after {
        content: "";
    }
    footer .partial::after
    {
        content: "";
    }
}

@media (max-width: 1024px) {

    /* typography */
    h1, h2, h3, h4, h5, h6 {margin:0 0 25px; padding:0; letter-spacing: 0; font-weight: 400;}
    h1 {font-size:2rem; line-height:3rem;}
    h2 {font-size:1.75rem; line-height:2.75rem}
    h3 {font-size:1.50rem; line-height:2.50rem}
    h4 {font-size:1.25rem; line-height:2.25rem}
    h5 {font-size:1.15rem; line-height:2.15rem}
    h6 {font-size:1rem; line-height:2rem}

    .letter-spacing-10 {
        letter-spacing: 0;
    }
    section:not(#home) {
        margin: 1rem 0 0 0;
    }

    /* Title */
    .entry-header {
        margin: 2rem 0;
    }

    /* Font awesome */
    .fa-10x {
        font-size: 5rem;
    }

    header.sticky {
        margin-bottom: 110px;
    }
    
    /* Return to top */
    #return-to-top {
        width: 25px;
        height: 25px;
        right: 20px;
        bottom: 2rem;
    }
    #return-to-top i {
        left: 6px;
        top: 0;
        font-size: 15px;
    }
    
    /* Menu */
    #mobileMenu {
        background-color: rgba(255, 255, 255, 0.5);
        padding: 0 0 2rem 0;
    }

}

/* CAROUSELS */
@media (min-width: 992px) and (max-width: 1199px) {
    .carousels .carousel-control-prev { left: -92px; }
    .carousels .carousel-control-next { right: -92px; }
}
@media (min-width: 768px) and (max-width: 991px) {
    .carousels .carousel-control-prev { left: -86px; }
    .carousels .carousel-control-next { right: -86px; }
}
@media (max-width: 767px) {
    .carousels .carousel-control-prev, 
    .carousels .carousel-control-next { display: none; }
    .carousels .carousel-indicators li { margin-left: 10px; margin-right: 10px; }
}