{% extends "front/base-front.html.twig" %}

{% block title %}Page de {{user.fullName}}{% endblock %}

{% block body %}
    <section class="blog-post-style3">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-2 col-12">
                        <div class="col-12 text-center">
                            <img 
                                src="{% if user.avatar is null %} {{ avatars_dir ~ avatar_default }} {% else %} {{ avatars_dir ~ user.avatar }} {% endif%}" 
                                class="avatar mb-3" 
                                alt="Avatar de {{ user.fullName }}"
                            >
                        </div>
                        <div class="col-12 text-center">
                            <a href="#posts" class="btn btn-logo btn-sm scrollto">
                                Articles <span class="badge badge-light">{{ pagination.total }}</span>
                            </a>
                    </div>
                </div>
                <div class="col-md-9 col-12 text-center">
                    <h1 class="text-black letter-spacing-10 no-margin-bottom">{{ user.fullName | title }}</h1>
                    <p class="mb-1">Membre depuis le : {{ user.dateCreate | format_datetime('long', 'none', locale='fr') }}</p>
                    
                    {% if user is same as(app.user) %}
                        <div class="mt-3">
                            <a href="{{ path('account_profile') }}" class="btn btn-secondary mb-1">Modifier mes informations</a>
                            <a href="{{ path('account_password') }}" class="btn btn-secondary mb-1">Modifier mon mot de passe</a>
                        </div>
                    {% endif %}
                </div>
            </div>

            <!-- Posts Anchor -->
            <a href="#" id="posts" class="margin-80px-all"></a> 

            <div class="entry-header">
                <h1 class="entry-title page-title">
					<span>Contributions</span>
                </h1>
            </div>
            {% if pagination.data %}
                <div class="row">
                    {% for post in pagination.data %}
                        {% include 'front/pages/posts/_trick-card.html.twig' %}
                    {% endfor %}
                </div>

                {{ pagination.display }}

            {% endif %}
            
            {% if pagination.total == 0 %}
                <div class="alert alert-warning">
                    <div class="row">
                        {% if app.user == user %}
                            <div class="col-lg-8 col-12 mt-2">
                                Vous n'avez pas encore publié d'article sur le site !
                            </div>
                            <div class="col-lg-4 text-lg-right col-12 text-center mt-2">
                                <a href="{{ path('trick_create') }}" class="btn btn-secondary ">Ajouter un article</a>
                            </div>
                        {% else %}
                            <div class="col-12">
                                <strong>{{ user.fullName | title }}</strong> n'a pas encore publié d'article sur le site !
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}