{% extends 'front/base-front.html.twig' %}

{% block title %}Snowtricks - Oubli de Mot de passe{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <div class="entry-header mb-n1">
                <h1 class="entry-title page-title">
                    <span>Mot de passe oublié</span>
                </h1>
            </div>
            <div class="row justify-content-center hidden-sm">
                 <div class="col-12 col-lg-6 text-center">
                    <i class="fas fa-key fa-10x mb-5"></i>
                    
                    {% include "/_partials/flash-messages.html.twig" %}
                    
                    {{ form_start(form) }}

                    <div class="form-group text-center">
                        {{ form_widget(form.email) }}
                    </div>

                    <div class="form-group text-center mt-5">
                        <button type="submit" class="btn btn-small btn-dark-gray">Envoyer la demande de réinitialisation</button>
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}