{% extends "front/base-front.html.twig" %}

{% block title %}Connexion au site{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <div class="entry-header mb-n1">
                <h1 class="entry-title page-title">
                    <span>Connexion</span>
                </h1>
            </div>
            
            <div class="row justify-content-center mb-3">
                <div class="col-12 col-lg-6 text-center">
                    <i class="fas fa-unlock-alt fa-10x"></i>

                    <form id="loginform" action="{{path('account_login')}}" method="post" class="position-relative my-5">
                        {% if error %}
                            <div class="alert alert-warning mx-0">
                                {{ error.messageKey|trans(error.messageData, 'security') }}
                            </div>
                        {% endif %}
                        
                        {% include "/_partials/flash-messages.html.twig" %}
                        
                        <div class="input-group margin-10px-tb">
                            <input name="_username" id="email" type="text" placeholder="Adresse email*" class="form-control" required value="{{ username }}"/>
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="far fa-envelope"></i></span>
                            </div>
                        </div>
                        <div class="input-group margin-10px-tb">
                            <input type="password" name="_password" id="password" placeholder="Mot de passe*" class="form-control" required>
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                        </div>
                        <div class="form-group text-center mt-5">
                            <button id="button-login" type="submit" class="btn btn-secondary">Connexion</button>
                        </div>
                    </form>
                    <div class="text-center">
                        <a href="{{ path('account_forgot_password') }}">Mot de passe oublié ?</a>
                    </div>     
                </div>
            </div>
        </div>
    </section>
{% endblock %}