{% extends "front/base-front.html.twig" %}

{% block title %}Modification de mot de passe{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <div class="entry-header mb-n1">
                <h1 class="entry-title page-title">
                    <span>Mot de passe</span>
                </h1>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 text-center">

                    {% include "/_partials/flash-messages.html.twig" %}
                    
                    <div class="row justify-content-center">
                        <div class="col-md-6 col-12 my-5">
                            <i class="fas fa-key fa-10x"></i>
                            {{ form_start(form, {'attr': {'class': 'mt-5'}}) }}
                            {{ form_widget(form) }}
                             <button type="submit" class="btn btn-secondary">
                                <i class="fas fa-check"></i>
                                Enregistrer
                            </button>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}