{% extends "front/base-front.html.twig" %}

{% block title %}Edition du profil{% endblock %}

{% block stylesheet %}
    {{ parent() }}

    <!-- Librairies -->
    <link rel="stylesheet" href="/assets/lib/bootstrap-fileinput-5.0.1/css/fileinput.css"> <!-- File input -->
{% endblock %}

{# form theme #}
{% form_theme form _self %}

{% block body %}
    <section>
        <div class="container">

            <div class="entry-header">
                <h1 class="entry-title page-title">
					<span>Mon profil</span>
                </h1>
            </div>

            {% include "/_partials/flash-messages.html.twig" %}
            
            {{form_start(form)}}
            <div class="form-row">
                <div class="col-md-3 col-12 text-sm-center">
                    {{ form_widget(form.avatar) }}
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.firstname) }}
                                {{ form_widget(form.firstname) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.lastname) }}
                                {{ form_widget(form.lastname) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.pseudo) }}
                                {{ form_widget(form.pseudo) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                 {{ form_label(form.email) }}
                                {{ form_widget(form.email) }}
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-lg-6 col-12 text-lg-right text-center mb-2">
                            {{ form_widget(form.save) }}
                        </div>
                         <div class="col-lg-6 col-12 text-lg-left text-center mb-2">
                            <a href="{{ path('account_index') }}" class="btn btn-dark">Retour</a>
                        </div>
                    </div>
                </div>
            </div>
            {{form_end(form)}}
        </div>
    </section>
{% endblock %}

{# overload image input form #}
{% block _account_avatar_widget %}
    <div class="avatar-image">
        <div class="file-loading" data-image="{{ app.user.avatar }}">
            <input type="file" id="account_avatar" name="account[avatar]" data-browse-on-zone-click="true" data-show-upload="false">
        </div>
        <div class="indications-file">
            <p class="alert alert-warning img-indication text-center">
                <span>jpg, png, gif | max. 4 Mo</span><br />
                <span>800px <i class="fas fa-chevron-right"></i> Taille <i class="fas fa-chevron-left"></i> 3000px</span>
            </p>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="/assets/lib/bootstrap-fileinput-5.0.1/js/plugins/piexif.min.js"></script>
    <script src="/assets/lib/bootstrap-fileinput-5.0.1/js/plugins/sortable.min.js"></script>
    <script src="/assets/lib/bootstrap-fileinput-5.0.1/js/fileinput.js"></script>    
    <script src="/assets/lib/bootstrap-fileinput-5.0.1/js/theme.js"></script>
    <script src="/assets/lib/bootstrap-fileinput-5.0.1/js/locales/fr.js"></script>
    
    <script>

        //Avatar image
        let avatarImage = [];

        //New user or empty avatar
        {% if app.user.id is not null %}
            avatarImage = JSON.parse('{{ imageAvatar|raw }}');
        {% endif %}

        $(document).ready(function(){
            $('[data-action="delete"]').on('click', function(){
                const target = this.dataset.target;
                $(target).remove();
            });

            initAvatarImageUpload($("#account_avatar"), avatarImage);
        });

    </script>
{% endblock %}