{% extends "front/base-front.html.twig" %}

{% block title %}Modification du mot de passe{% endblock %}

{% block body %}
<section>
    <div class="container">
        <div class="row justify-content-center hidden-sm">
            <div class="col-12 col-lg-8 text-center margin-30px-bottom sm-margin-10px-bottom">
                <i class="fas fa-lock fa-10x"></i>
            </div>
            <div class="col-12 col-lg-8 text-center margin-30px-bottom sm-margin-10px-bottom">
                <h1 class="alt-font font-weight-600 text-extra-dark-gray">Modification du mot de passe</h1>
            </div>
        </div>

        <div class="row justify-content-center mb-3">
            <div class="col-12 col-lg-6">

                {{ form_errors(form) }}

                {{ form_start(form) }}
                <div class="input-group margin-10px-tb">
                    {{ form_widget(form.password.first) }}
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2"><i class="fas fa-key"></i></span>
                    </div>
                </div>
                <div class="input-group margin-10px-tb">
                    {{ form_widget(form.password.second) }}
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2"><i class="fas fa-key"></i></span>
                    </div>
                </div>
                <div class="form-group mt-5 text-center">
                    <button type="submit" class="btn btn-small btn-dark-gray">Enregistrer</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</section>
{% endblock %}