{% set postUrl = path('trick_show', {'slug': post.slug}) %}
{% set nbComments = 0 %}
{% for comment in post.comments %}
    {% if comment.status.id == 2 and comment.author.active %}
        {% set nbComments = nbComments + 1 %}
    {% endif %}
{% endfor %}

<div class="col-12 col-lg-4 col-md-6 grid-item margin-30px-bottom">
    <div class="card  blog-post bg-light-gray inner-match-height d-flex justify-content-center">

        <!-- Cover image -->
        <div class="blog-post-images overflow-hidden position-relative">
            <a href="{{ postUrl }}">
                <img 
                    src="{% if post.coverImage is null %} {{ tricks_dir ~ trick_default }} {% else %} {{ tricks_dir ~ post.coverImage }} {% endif%}" 
                    alt="Image tricks {{ post.category.title }}">
                <div class="blog-hover-icon">
                    <span class="text-extra-large font-weight-300">+</span>
                </div>
            </a>
        </div>
       
        <div class="card-body post-details padding-20px-top padding-40px-all md-padding-20px-all">

             <!-- Metas -->
            <div class="post-meta">
                <span class="post-category">
                    <a href="{{ path('category_show', {'slug': post.category.slug}) }}" class="text-medium-gray">
                        {{ post.category.title }}
                    </a>
                </span>
                 <span class="post-date">
                    {{ post.datePublish | format_datetime('long', 'none', locale='fr') }}
                 </span>
            </div>


            <!-- Content -->
            <div class="post-content">
                <a href="{{ postUrl }}" class="alt-font post-title width-100 d-block lg-width-100 margin-15px-bottom">
                    <!-- Title -->
                    <h3 class="text-medium text-extra-dark-gray margin-15px-bottom margin-5px-top">{{ post.title }}</h3>
                
                    <!-- Heading -->
                    <p class="text-dark-gray">
                        {% if post.heading | length %}
                            {{ post.heading | u.truncate(160, '...') }}
                        {% else %}
                            {{ post.content | striptags | trim | u.truncate(160, '...')}} 
                        {% endif %}
                    </p>
                </a>
            </div>

            <!-- Status -->
            {% if app.request.attributes.get('_route') == 'account_index'%}
            <div class="blogPostStatus">
                {% if post.active and date(post.datePublish) < date()  %}
                    <span class="badge badge-success rounded"><i class="fas fa-wifi"></i> En ligne </span>
                {% elseif post.active and date(post.datePublish) > date() %}
                    <span class="badge badge-warning rounded"><i class="fas fa-clock"></i> Programmé </span>
                {% else %}
                    <span class="badge badge-dark rounded"><i class="fas fa-mask"></i> Hors ligne </span>
                {% endif %}
            </div>
            {% endif %}

        </div>

       
        <div class="card-footer text-muted author">

             <!-- Actions buttons -->
            <div class="text-center">
                <a href="{{ postUrl }}" class="btn btn-secondary btn-small">Lire</a>
                {% if app.user and app.user == post.author %}
                    <a href="{{ path('trick_edit',{'slug' : post.slug}) }}" class="btn btn-secondary btn-small">Editer</a>
                {% endif %}
            </div>

             <!-- Author -->
            <div class="text-medium-gray text-extra-small d-inline-block d-flex justify-content-between margin-15px-top">
                <div class="post-meta-info">
                    <a href="{{ path('user_show', {'slug': post.author.slug}) }}" class="text-medium-gray">
                        <i class="fas fa-user"></i> {{ post.author.fullname | title }}
                    </a>
                </div>
                <div class="post-meta-info post-date">
                    <i class="fas fa-edit"></i> {{ post.datePublish | format_datetime('long', 'none', locale='fr') }}
                </div>
                <div class="post-meta-info last post-comments">
                    <a href="{{ postUrl }}#comments" title="Commentaires" class="text-medium-gray">
                        {{ nbComments }} <i class="far fa-comment-alt"></i>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>