{% extends "front/base-front.html.twig" %}

{% block body %}
 <section>
    <div class="container">

        {% include "front/blocs/header.html.twig" %}

        <div class="row">
            <article class="col-12 col-lg-9 mb-5 md-padding-15px-lr">

                {% if pagination.data | length %}
                    {% for post in pagination.data %}
                        {% set postUrl = path('trick_show', {'slug': post.slug}) %}
                        {% set nbComments = 0 %}
                        {% for comment in post.comments %}
                            {% if comment.status.id == 2 %}
                                {% set nbComments = nbComments + 1 %}
                            {% endif %}
                        {% endfor %}

                        <div class="blog-post-content d-flex align-items-center flex-wrap margin-60px-bottom padding-60px-bottom border-bottom border-color-extra-light-gray md-margin-30px-bottom md-padding-30px-bottom md-no-border">
                            
                            <!-- Cover image -->
                            <div class="col-12 col-lg-5 blog-image p-0 md-margin-30px-bottom sm-margin-20px-bottom margin-45px-right md-no-margin-right">
                                <a href="{{ postUrl }}">
                                    <img 
                                        src="{% if post.coverImage is null %} {{ tricks_dir ~ trick_default }} {% else %} {{ tricks_dir ~ post.coverImage }} {% endif%}" 
                                        alt="Image de couverture de l'article #{{ post.id}}" 
                                    >
                                </a>
                            </div>
                            
                             <!-- Content -->
                            <div class="col-12 col-lg-6 blog-text p-0">
                                <div class="content margin-20px-bottom text-md-left text-center">
                                    
                                    <!-- Title -->
                                    <a href="{{ postUrl }}" class="text-extra-dark-gray margin-5px-bottom alt-font font-weight-600 d-inline-block text-">
                                        <h3 class="text-medium text-extra-dark-gray margin-15px-bottom margin-5px-top">{{ post.title }}</h3>
                                    </a>
                                    
                                    <!-- Metas -->
                                    <div class="row no-gutters post-meta mb-md-0 mb-sm-2">
                                        <div class="col-12 text-md-left text-sm-center">
                                            <span class="post-category">
                                                <a href="{{ path('user_show', {'slug': post.author.slug}) }}" class="text-medium-gray">{{ post.author.fullname | title }}</a>
                                            </span>
                                            <span class="post-date text-medium-gray">{{ post.dateCreate | format_datetime('long', 'none', locale='fr') }}</span>
                                            <a href="{{ postUrl }}#comments" title="Commentaires" class="text-medium-gray">
                                                {{ nbComments }} <i class="far fa-comment-alt"></i>
                                            </a>
                                        </div>
                                    </div>

                                    <!-- Content -->
                                    <div class="row no-gutters">
                                        <div class="col-12 text-md-left text-sm-center">
                                            <p class="text-dark-gray m-0 width-95">
                                                {% if post.heading | length %}
                                                    {{ post.heading | u.truncate(160, '...') }}
                                                {% else %}
                                                    {{ post.content | striptags | trim | u.truncate(160, '...')}} 
                                                {% endif %}
                                            </p>
                                        </div>
                                        <div class="col-md-9 col-12 mt-2">
                                            <a class="btn btn-very-small btn-dark-gray text-uppercase " href="{{ postUrl }}">Lire</a>
                                            {% if app.user and app.user == post.author %}
                                                <a href="{{ path('trick_edit',{'slug' : post.slug}) }}" class="btn btn-very-small btn-dark-gray text-uppercase">Editer</a>
                                            {% endif %}
                                        </div>
                                        {% if app.user and app.user == post.author %}
                                            <div class="col-md-3 col-12 blogPostStatus align-self-center mt-2">
                                                {% if post.active and date(post.datePublish) < date()  %}
                                                    <span class="badge badge-success rounded"><i class="fas fa-wifi"></i> En ligne </span>
                                                {% elseif post.active and date(post.datePublish) > date() %}
                                                    <span class="badge badge-warning rounded"><i class="fas fa-clock"></i> Programmé </span>
                                                {% else %}
                                                    <span class="badge badge-dark rounded"><i class="fas fa-mask"></i> Hors ligne </span>
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    {% endfor %}

                    {{ pagination.display }}

                {% else %}
                    <p>Cette catégorie ne contient aucun trick pour l'instant</p>
                    <p>Repassez plus tard ou ajoutez en un</p>
                    <a href="{{ path('trick_create') }}" class="btn btn-primary">Poster un trick</a>
                {% endif %}  
                   
            </article>

            <!-- Aside -->                
            {% include "front/_partials/_aside.html.twig" %}
        </div>
    </div>
</section>
{% endblock %}