{% extends "front/base-front.html.twig" %}

{% block stylesheet %}
    {{ parent() }}

    <!-- Librairies -->
    <link rel="stylesheet" href="/assets/lib/bootstrap-fileinput-5.0.1/css/fileinput.css"> <!-- fileinput --> 
    <link rel="stylesheet" href="/assets/lib/bootstrap-switch-3.4/css/bootstrap-switch.css"> <!-- bootstrap-switch --> 
{% endblock %}

{% form_theme form with ['_partials/_collection.html.twig'] %}

{% block body %}
    <section>
        <div class="container">

            <div class="entry-header">
                <h1 class="entry-title page-title">
					<span>Edition d'un article</span>
                </h1>
            </div>

            {% include "/_partials/flash-messages.html.twig" %}

            

            {{ form_start(form) }}
            <div class="row">
                {{ form_widget(form.coverImage) }}
                <div class="col-md-8">
                    <div class="form-group">
                        {{ form_label(form.title) }}
                        {{ form_widget(form.title) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.category) }}
                        {{ form_widget(form.category) }}
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_widget(form.datePublish) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Statut</label>
                                {{ form_widget(form.active) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                {{ form_label(form.heading) }}
                                {{ form_widget(form.heading, {'attr': {'rows': '7'}}) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        {{ form_label(form.content) }}
                        {{ form_widget(form.content) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        {{ form_widget(form.images) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        {{ form_label(form.videos) }}
                        <div class="videos-fieldset">{{ form_widget(form.videos) }}</div>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                
                 <!-- Delete post -->
                <div class="col-md-6 col-12 text-sm-center text-lg-left">
                    <a
                        href="#modal-info" 
                        data-target="{{ path('trick_confirm_delete', {'id': post.id}) }}" 
                        class="btn btn-danger modal-trigger" 
                        title="Supprimer l'article" 
                        alt="Supprimer l'article" 
                    >
                        <i class="fas fa-trash-alt"></i>
                        Supprimer l'article
                    </a>
                </div>
                <div class="col-md-6 col-12 text-lg-right text-sm-center">
                    {{ form_widget(form.save) }}
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    <section>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="/assets/lib/bootstrap-fileinput-5.0.1/js/plugins/piexif.min.js"></script>
    <script src="/assets/lib/bootstrap-fileinput-5.0.1/js/plugins/sortable.min.js"></script>
    <script src="/assets/lib/bootstrap-fileinput-5.0.1/js/fileinput.js"></script>    
    <script src="/assets/lib/bootstrap-fileinput-5.0.1/js/theme.js"></script>
    <script src="/assets/lib/bootstrap-fileinput-5.0.1/js/locales/fr.js"></script>
    <script src="/assets/lib/bootstrap-switch-3.4/js/bootstrap-switch.min.js"></script>
    <script src="/assets/lib/ckeditor-4.13.1/ckeditor.js"></script>
    <script src="/assets/js/posts.js"></script>
    <script>
        const urls = JSON.parse('{{ urls|raw }}');
        const imagesInfos = JSON.parse('{{ imagesInfos|raw }}');
        const coverImage = JSON.parse('{{ imageCover|raw }}');

        $(document).ready(function(){
            
            initPostForm(coverImage)
            initFileUpload($("#images"), $("#post_old-images"), urls, imagesInfos); // GalleryImages

            // Delete Post with confirmation
            $('.modal-trigger').click(function(){
            
                const url = $(this).attr('data-target');
                $.get(url, function (data) {
                    $('#modal-info .modal-content').html(data);
                    $('#modal-info').modal();
                });

            });
        });

    </script>
{% endblock %}
