{% extends "front/base-front.html.twig" %}

{% block stylesheet %}
    {{ parent() }}

    <!-- Librairies -->
    <link rel="stylesheet" href="/assets/lib/bootstrap-fileinput-5.0.1/css/fileinput.css"> <!-- fileinput -->
    <link rel="stylesheet" href="/assets/lib/bootstrap-switch-3.4/css/bootstrap-switch.css"> <!-- bootstrap-switch --> 
{% endblock %}

{% form_theme form '_partials/_collection.html.twig' %}


{% block body %}
    <section>
        <div class="container">
            
            <div class="entry-header">
                <h1 class="entry-title page-title">
					<span>Nouvel article</span>
                </h1>
            </div>
            
            {% include "/_partials/flash-messages.html.twig" %}

            {{ form_start(form) }}
            <div class="row">
                {{ form_widget(form.coverImage) }}
                <div class="col-md-8">
                        <div class="form-group">
                            {{ form_label(form.title) }}
                            {{ form_widget(form.title) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.category) }}
                            {{ form_widget(form.category) }}
                        </div>
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <div class="form-group">
                                {{ form_widget(form.datePublish) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Statut</label>
                                {{ form_widget(form.active) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                {{ form_label(form.heading) }}
                                {{ form_widget(form.heading, {'attr': {'rows': '7'}}) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        {{ form_label(form.content) }}
                        {{ form_widget(form.content) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        {{ form_widget(form.images) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        {{ form_label(form.videos) }}
                        <div class="videos-fieldset">{{ form_widget(form.videos) }}</div>
                    </div>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-12 text-center">
                    {{ form_widget(form.save) }}
                </div>
            </div>
            {{ form_end(form) }}

        </div>
    </section>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="/assets/lib/bootstrap-fileinput-5.0.1/js/plugins/piexif.min.js"></script>
    <script src="/assets/lib/bootstrap-fileinput-5.0.1/js/plugins/sortable.min.js"></script>
    <script src="/assets/lib/bootstrap-fileinput-5.0.1/js/fileinput.js"></script>
    <script src="/assets/lib/bootstrap-fileinput-5.0.1/js/theme.js"></script>
    <script src="/assets/lib/bootstrap-fileinput-5.0.1/js/locales/fr.js"></script>
    <script src="/assets/lib/bootstrap-switch-3.4/js/bootstrap-switch.min.js"></script>
    <script src="/assets/lib/ckeditor-4.13.1/ckeditor.js"></script>
    <script src="/assets/js/posts.js"></script>
    <script>
        const urls = [];
        const imagesInfos = [];
        const coverImage = [];
        
        $(document).ready(function(){
            initPostForm(coverImage)
            initFileUpload($("#images"),'',urls, imagesInfos); // GalleryImages
        });
    </script>
{% endblock %}
