{% extends "front/base-front.html.twig" %}

{% block body %}
    {% set postUrl = path('trick_show', {'slug': post.slug}) %}
    {% set nbVideos = post.videos|length %}
    {% set nbPhotos = post.images|length %}

    <!-- Page title section -->
    <section class="bg-light-gray padding-15px-b page-title-small top-space">
        <div class="container post-content">
        
            <div class="row my-3">

                <!-- Page title -->
                <div class="col-md-5 col-12 text-md-left text-center">
                    <h1 class="alt-font text-extra-dark-gray font-weight-600 no-margin-bottom text-uppercase">{{ post.title }}</h1>
                </div>

               
                <div class="col-md-7 col-12 mt-md-0 mt-3 alt-font breadcrumb text-center text-small">
                    
                     <!-- Post meta -->
                    <div class="col-12 d-flex justify-content-center flex-md-row flex-column align-items-center">
                        <div class="col-md-4 {% if not comments|length %}offset-md-2 {% endif %}col-12 flex-shrink-1 meta-info text-dark-gray text-center">
                            <a href="{{ path('user_show', {'slug': post.author.slug}) }}">
                                <i class="fas fa-at margin"></i>  
                                {{ post.author.fullname | title }}
                            </a>
                        </div>

                        <div class="col-md-3 col-12 flex-shrink-1 meta-info text-center">
                            {% if date(post.dateUpdate) > date(post.datePublish) %}
                                <i class="fas fa-pencil-alt margin"></i>  
                                <span class="d-none d-sm-inline-block">{{ post.dateUpdate | format_datetime('long', 'none', locale='fr') }}</span>
                                <span class="d-inline-block d-sm-none">{{ post.dateUpdate | format_datetime('short', 'none', locale='fr') }}</span>
                            {% else %}
                                <i class="fas fa-clock margin"></i> 
                                <span class="d-none d-sm-inline-block">{{ post.datePublish | format_datetime('long', 'none', locale='fr') }}</span>
                                <span class="d-inline-block d-sm-none">{{ post.datePublish | format_datetime('short', 'none', locale='fr') }}</span>
                            {% endif %}
                        </div>
                        <div class="col-md-3 col-12 flex-shrink-1 meta-info text-center">
                            <a href="{{ path('category_show', {'slug': post.category.slug}) }}">
                                <i class="fas fa-sitemap margin"></i>  
                                {{ post.category.title }}
                            </a>
                        </div>
                        {% if comments|length %}
                            <div class="col-md-2 col-12 flex-shrink-1 text-dark-gray text-center">
                                <a href="{{ postUrl }}#comments" title="Commentaires" class="continue link-scroll">
                                    {{ nbComments }}  <i class="far fa-comment-alt"></i>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                

                    <!-- Post actions -->
                    {% if app.user and app.user == post.author %}
                        <div class="col-12 text-center mt-3">
                            <a href="{{ path('trick_edit',{'slug' : post.slug}) }}" class="btn btn-info btn-sm" title="Editer l'article" alt="Editer l'article"><i class="fas fa-pen"></i></a>
                            
                            <!-- Delete post -->
                            <a 
                                href="#modal-info" 
                                data-target="{{ path('trick_confirm_delete', {'id': post.id}) }}" 
                                class="btn btn-danger btn-sm modal-trigger" 
                                title="Supprimer l'article" 
                                alt="Supprimer l'article" 
                            >
                                <i class="fas fa-trash-alt"></i>
                            </a>

                            {% if post.active and date(post.datePublish) < date() and post.author.active %}
                                <span class="btn btn-outline-success btn-sm btn-rounded" title="En ligne"><i class="fas fa-wifi"></i></span>
                            {% elseif post.active and date(post.datePublish) > date() and post.author.active %}
                                <span class="btn btn-outline-warning btn-sm btn-rounded" title="Programmé"><i class="fas fa-clock"></i></span>
                            {% else %}
                                <span class="btn btn-outline-dark btn-sm btn-rounded" title="Hors ligne"><i class="fas fa-mask"></i></span>
                            {% endif %}
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </section>
    
    <!-- content section -->
    <section>
        <div class="container">
            
            <!-- Return state message after edit -->
            {% include "/_partials/flash-messages.html.twig" %}
            
            <div class="row">
                <article class="col-12 col-lg-9 md-margin-60px-bottom sm-margin-40px-bottom md-padding-15px-lr">
                    <div class="col-12 blog-details-text last-paragraph-no-margin">

                        <!-- Cover Image -->
                        <img 
                            src="{% if post.coverImage is null %} {{ tricks_dir ~ trick_default }} {% else %} {{ tricks_dir ~ post.coverImage }} {% endif%}" 
                            alt="Image de couverture de l'article #{{ post.id}}" 
                            class="margin-30px-bottom cover-image"
                        >
                        
                        <!-- Heading -->
                        {% if post.heading | length %}
                            <blockquote class="border-color-deep-pink ">
                                <p>{{ post.heading}}</p>
                            </blockquote>     
                        {% endif %}
                
                        <!-- Show Media button -->
                        {% if nbVideos > 0 and nbPhotos > 0 %}
                        <div class="text-center">
                            <a href="#" id="showMedias" class="btn btn-theme btn-small d-md-block d-lg-none">
                                Voir les médias
                            </a>
                            <a href="#" id="hideMedias" class="btn btn-theme btn-small mt-3 d-none d-md-none d-lg-none">
                                Cacher les médias
                            </a>
                        </div>
                        {% endif %}
                        
                        <!-- Medias Carousels -->
                        <div class="row d-none d-lg-flex medias my-5 carousels">
                            <div class="col-12">
                                <div class="row no-gutters">

                                    <!-- Carousel Photos-->
                                    {% if nbPhotos > 0 %}
                                        <div class="{% if nbVideos > 0 %}col-lg-6 p-0 pr-1 {% else %}fully col-lg-12 {% endif %} col-centered">
                                            <div id="carousel-photo" class="carousel slide mt-3 mb-2" data-ride="carousel">
                                                
                                                <!-- Indicators -->
                                                <ol class="carousel-indicators">
                                                    {% for image in post.images %}
                                                        <li data-target="#carousel-photo" data-slide-to="{{ loop.index0 }}" {% if loop.first %}class="active"{% endif %}></li>
                                                    {% endfor %}
                                                </ol>

                                                <!-- Wrapper for slides -->
                                                <div class="carousel-inner" role="listbox">
                                                    {% for image in post.images %}
                                                        <div class="carousel-item {% if loop.first %}active{% endif %}">
                                                            <div class="parent h-100 flex-column d-flex justify-content-center align-items-center">
                                                                <a href="#" class="open-AddImgDialog" data-target="#modal-zoom" data-toggle="modal" data-url="{{ tricks_dir ~ image.name }}">
                                                                    <img class="d-block w-100" src="{{ tricks_dir ~ image.name }}" alt="First slide">
                                                                </a>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                </div>

                                                <!-- Left and right controls -->
                                                {% if nbPhotos > 1 %}
                                                    <a class="carousel-control-prev" href="#carousel-photo" role="button" data-slide="prev">
                                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                        <span class="sr-only">Previous</span>
                                                    </a>
                                                    <a class="carousel-control-next" href="#carousel-photo" role="button" data-slide="next">
                                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                        <span class="sr-only">Next</span>
                                                    </a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}

                                    <!-- Carousel Vidéos-->
                                    {% if nbVideos > 0 %}
                                        <div class="{% if nbPhotos > 0 %}col-lg-6 p-0 pl-1 {% else %}fully col-lg-12 {% endif %} col-centered">
                                            <div id="carousel-video" class="carousel slide carousel-fade mt-3 mb-2" data-ride="carousel">
                                                
                                                <!-- Indicators -->
                                                <ol class="carousel-indicators">
                                                    {% for video in post.videos %}
                                                        <li data-target="#carousel-video" data-slide-to="{{ loop.index0 }}" {% if loop.first %}class="active"{% endif %}></li>
                                                    {% endfor %}
                                                </ol>

                                                <!-- Wrapper for slides -->
                                                <div class="carousel-inner" role="listbox">
                                                    {% for video in post.videos %}
                                                        <div class="carousel-item {% if loop.first %}active{% endif %}">
                                                            <div class="embed-responsive embed-responsive-16by9">
                                                                <iframe class="embed-responsive-item" src="{{video.url}}" allowfullscreen></iframe>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                </div>

                                                <!-- Left and right controls -->
                                                 {% if nbVideos > 1 %}
                                                    <a class="carousel-control-prev" href="#carousel-video" role="button" data-slide="prev">
                                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                        <span class="sr-only">Previous</span>
                                                    </a>
                                                    <a class="carousel-control-next" href="#carousel-video" role="button" data-slide="next">
                                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                        <span class="sr-only">Next</span>
                                                    </a>
                                                {% endif %}

                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        
                        <!-- content -->
                        <div class="row content-post margin-30px-top">
                            <div class="col-12">
                                <p class="mt-4">
                                    <span class="first-letter first-letter-block bg-extra-dark-gray text-white-2">{{ post.content|striptags|first|upper}}</span>
                                    {{ post.content|raw }}
                                </p>
                            </div>
                        </div>

                        <!-- Author -->
                        <div class="row author margin-15px-top">
                            <div class="col-12 d-flex flex-column flex-md-row align-items-center align-items-md-start border border-color-extra-light-gray p-5">
                                <div class="width-150px text-center sm-width-100">
                                    <img 
                                        src="{% if post.author.avatar is null %} {{ avatars_dir ~ avatar_default }} {% else %} {{ avatars_dir ~ post.author.avatar }} {% endif%}"
                                        class="rounded-circle width-100px" alt="Avatar de {{ post.author.fullName | title }}" 
                                    />
                                </div>
                                <div class="width-100 last-paragraph-no-margin sm-no-padding-left text-center text-md-left">
                                    <p class="no-margin">
                                        <a href="{{ path('user_show', {'slug': post.author.slug}) }}" class="text-extra-dark-gray text-uppercase alt-font font-weight-600 margin-10px-bottom d-inline-block text-small">{{ post.author.fullname | title }}</a>
                                    </p>
                                    <p class="no-margin">Membre depuis le {{ post.author.dateCreate | format_datetime('long', 'none', locale='fr') }}</p>
                                    <p class="">
                                        <a href="{{ path('user_show', {'slug': post.author.slug}) }}" class="btn btn-very-small btn-black margin-20px-top">Voir son profil</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Comment form -->
                    {% include "front/blocs/write-comment.html.twig" %}

                    <!-- Comments Anchor -->
                    <a href="#" id="comments" class="margin-80px-all"></a> 

                    <!-- Comments list -->
                    {% include "front/blocs/list-comments.html.twig" %}
      
                </article>
				
				<!-- Modal Zoom -->
											
				<div class="modal fade" id="modal-zoom">
                 <div class="modal-dialog  modal-lg modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button class="close" data-dismiss="modal">&times;</button>
							</div>
							<div class="modal-body">
								 <img id="imageshow" alt="Zoom image" />
							</div>
						</div>
					</div>
				</div>
                
                <!-- Aside -->                
                {% include "front/_partials/_aside.html.twig" %}
                
            </div>
        </div>
    </section>

{% endblock %}

{% block js %}
    {{ parent() }}
        
    <script>
        $(document).ready(function(){

            // LightBox
            $(".open-AddImgDialog").click(function () {
                const imgsrc = $(this).data('url');
                $('#imageshow').attr('src',imgsrc);
            });

            // Delete Post with confirmation
            $('.modal-trigger').click(function(){
            
                const url = $(this).attr('data-target');
                
                $.get(url, function (data) {
                    $('#modal-info .modal-content').html(data);
                    $('#modal-info').modal();
                });

            });
        });
    </script>
    
{% endblock %}