{% extends "base.html.twig" %}

{% block head %}
    {% include "front/_partials/head.html.twig" %}
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/style-theme.css" /> <!-- Theme style -->
    <link rel="stylesheet" href="/assets/css/custom-style.css" /> <!-- Overload theme style -->
    <link rel="stylesheet" href="/assets/css/custom-responsive.css" /> <!-- Overload responsive theme style -->
{% endblock %}

{# Nav #}
{% block nav %}
    <header class="sticky">
        {% include "front/_partials/nav.html.twig" %}
    </header>
{% endblock %}

{# footer area start #}
{% block footer %}
    {% include "front/_partials/_footer.html.twig" %}
{% endblock %}

{# form area #}
{% block modals %}
    {% include "front/blocs/modal-info.html.twig" %}
    {{ render(controller('App\\Controller\\ContactController::index')) }}
{% endblock %}

{# Common Scripts #}
{% block javascriptFiles %}
    {{ parent() }}
    {% include "front/_partials/scripts.html.twig" %}
{% endblock %}

{# Custom Scripts #}
{% block js %}
     {{ parent() }}
    <script src="{{ asset("assets/js/main.js") }}"></script>
{% endblock %}
