{% extends "front/base-front.html.twig" %}

{% block header %}
     {% include "front/blocs/header-video.html.twig" %}
{% endblock %}

{% block body %}
    <section class="blog-post-style3" id="edito">
        <div class="container"> 

            <div class="entry-header">
                <h1 class="entry-title page-title">
					<span>Les derniers Tricks</span>
                </h1>
            </div>

            <div class="row">
                {% for post in posts %}
                    {%  include 'front/pages/posts/_trick-card.html.twig' %}
                {% endfor %}
            </div>

            <!-- Load more / less -->
            {% if posts|length > 6 %}
                <div class="row justify-content-center m-3">
                    <a href="#" id="loadMore"><i class="fas fa-plus-circle fa-3x"></i></a>
                    <a href="#" id="loadLess"><i class="fas fa-minus-circle fa-3x"></i></a>              
                </div>
            {% endif %}

        </div>
    </section>
 {% endblock %}
 
 {% block javascriptFiles %}
    {{ parent() }}    
    <script src="{{ asset("assets/js/home.js") }}"></script>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            loadMore();
        });
    </script>
{% endblock %}