<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
        <meta name="description" content="Projet de formation OpenClassRooms : Snowtricks">
        <meta name="robots" content="none" />

        {% block head %}{% endblock %}

        <!-- Librairies -->
        <link rel="stylesheet" href="/assets/lib/animate.css"> <!-- Animate --> 
        <link rel="stylesheet" href="/assets/fonts/font-awesome/css/all.css" /> <!-- font-awesome icon -->
        <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap-4.3.1.css"> <!-- bootstrap -->

        {% block stylesheet %}{% endblock %}
        
        <title>Snowtricks</title>

    </head>
    <body>
        <div class="wrapper">
            {# Nav #}
            {% block nav %}{% endblock %}

            {# Header #}
            {% block header %}{% endblock %}

            {# main content area start #}
            {% block body %}{% endblock %}
            
            {# footer area start #}
            {% block footer %}{% endblock %}

            {# modals area start #}
            {% block modals %}{% endblock %}
        </div>
        
        {# Common Scripts #}
        {% block javascriptFiles %}
            <script src="/assets/lib/jquery/jquery-3.4.1.min.js"></script>
            <script src="/assets/lib/bootstrap/js/bootstrap-4.3.1.bundle.js"></script>
        {% endblock %}
        
        {# custom js #}
        {% block js %}{% endblock %}
    </body>
</html>
