{% extends "admin/base-admin.html.twig" %}

{% block title %}Modification de catégorie {% endblock %}

{% block body %}

    <div class="container">
        <h1 class="my-5">
            {% if app.request.attributes.get('_route') == 'admin_category_edit' %}
                Modification de la catégorie <strong>{{category.title}}</strong>
            {% else %}
                Ajout d'une catégorie
            {% endif %}
        </h1>
        
        {% include "/_partials/flash-messages.html.twig" %}

        {% if app.request.attributes.get('_route') == 'admin_category_edit' %}
            <div class="alert alert-info">
                <strong>Nombre d'article liés : </strong> {{ category.posts | length }}<br>
            </div>
        {% endif %}

        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-10 col-12">
                <div class="form-group">
                    {{ form_label(form.title) }}
                    {{ form_widget(form.title) }}
                </div>
            </div>
            <div class="col-md-2 col-12">
                <div class="form-group">
                    <label>Visibilité</label>
                    {{ form_widget(form.private) }}
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            {{ form_widget(form.save) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="/assets/lib/bootstrap-switch-3.4/js/bootstrap-switch.min.js"></script>
    <script>
        $(document).ready(function(){
            // Switch
            $('[data-toggle="switch"]').bootstrapSwitch();
        });
    </script>
{% endblock %}