{% extends "admin/base-admin.html.twig" %}

{% block title %}Administration{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1 class="my-3">Gestion des catégories</h1>

    {% include "/_partials/flash-messages.html.twig" %}

    <div class="row m-3">
        <a href="{{ path('admin_category_add') }}" class="btn btn-primary">Ajouter une catégorie</a>
    </div>

    <div class="table-responsive">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th class="w-5 d-none d-lg-table-cell">#</th>
                    <th class="w-25">Titre</th>
                    <th class="w-10 d-none d-lg-table-cell">Slug</th>
                    <th class="w-10 d-none d-lg-table-cell text-center">Visibilité</th>
                    <th class="w-5 text-center">Nombre d'articles</th>
                    <th class="w-10 text-center">Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for category in pagination.data %}
                <tr>
                    <td class="w-5 d-none d-lg-table-cell" >{{category.id}}</td>
                    <td class="w-25">
                        <a href="{{ path('admin_category_edit', {'id': category.id}) }}">{{ category.title }}</a>
                    </td>
                    <td class="w-10 d-none d-lg-table-cell">
                        {{ category.slug }}
                    </td>
                    <td class="w-10 d-none d-lg-table-cell text-center">
                        {% if category.private %}
                            <span class="badge badge-warning rounded"><i class="fas fa-check-circle"></i> Privée</span>
                        {% else %}
                            <span class="badge badge-success rounded"><i class="fas fa-times-circle"></i> Publique</span>
                        {% endif %}
                    </td>
                    <td class="w-5 text-center">
                        {{ category.posts | length }}
                    </td>
                    <td class="w-10 text-center actions">
                        <a href="{{ path('admin_category_edit', {'id': category.id}) }}" class="btn btn-info"><i class="fas fa-edit"></i></a>
                        <a href="#" data-toggle="modal" data-target="{{ '#confirmModal-' ~ category.id }}" class="btn btn-danger deleteBtn"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {{ pagination.display }}

    {% for category in pagination.data %}
        <div class="modal" id="{{ 'confirmModal-' ~ category.id }}">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    {{ render(controller('App\\Controller\\AdminCategoryController::confirmDelete', { 'id': category.id })) }}
                </div>
            </div>
        </div>
    {% endfor %}

</div>
{% endblock %}