<footer class="footer-classic-dark bg-extra-dark-gray padding-five-bottom sm-padding-30px-bottom">            
    <div class="footer-widget-area padding-five-top padding-30px-bottom sm-padding-30px-top">
        <div class="container">
            <div class="row">
                <!-- start about -->
                <div class="col-lg-6 col-md-6 widget md-margin-30px-bottom text-center text-md-left last-paragraph-no-margin">
                    <div class="widget-title alt-font text-small text-medium-gray text-uppercase margin-15px-bottom font-weight-600">About Agency</div>
                    <p class="text-small width-95 sm-width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ipsum is simply dummy text of the and typesetting industry. </p>
                </div>
                <!-- end about -->
                <!-- start blog post -->
                <div class="col-lg-3 col-md-6 widget md-margin-30px-bottom">
                    <div class="widget-title alt-font text-small text-medium-gray text-uppercase margin-15px-bottom font-weight-600 text-center text-md-left">Latest Blog Post</div>
                    <ul class="latest-post position-relative">
                        <li class="media border-bottom border-color-medium-dark-gray">
                            <figure>
                                <a href="blog-post-layout-01.html"><img src="http://placehold.it/700x403" alt=""></a>
                            </figure>
                            <div class="media-body text-small"><a href="blog-post-layout-01.html" class="d-block mb-1">Design is not just what looks...</a> <span class="clearfix"></span>20 April 2017 | by <a href="blog-grid.html">Herman Miller</a></div>
                        </li>
                        <li class="media border-bottom border-color-medium-dark-gray">
                            <figure>
                                <a href="blog-post-layout-02.html"><img src="http://placehold.it/700x403" alt=""></a>
                            </figure>
                            <div class="media-body text-small"><a href="blog-post-layout-02.html" class="d-block mb-1">A lot of care, effort & passion...</a> <span class="clearfix"></span>20 April 2017 | by <a href="blog-grid.html">Herman Miller</a></div>
                        </li>
                        <li class="media">
                            <figure>
                                <a href="blog-post-layout-03.html"><img src="http://placehold.it/700x403" alt=""></a>
                            </figure>
                            <div class="media-body text-small"><a href="blog-post-layout-03.html" class="d-block mb-1">I love making the stuff, that's...</a> <span class="clearfix"></span>20 April 2017 | by <a href="blog-grid.html">Herman Miller</a></div>
                        </li>
                    </ul>
                </div>
                <!-- end blog post -->                    
            </div>
        </div>
    </div>
    <div class="container">
        <div class="footer-bottom border-top border-color-medium-dark-gray padding-30px-top">
            <div class="row">
                <!-- start copyright -->
                <div class="col-lg-6 col-md-6 text-small text-md-left text-center">POFO - Portfolio Concept Theme</div>
                <div class="col-lg-6 col-md-6 text-small text-md-right text-center">&COPY; 2019 POFO is Proudly Powered by <a href="http://www.themezaa.com" target="_blank" title="ThemeZaa">ThemeZaa</a></div>
                <!-- end copyright -->
            </div>
        </div>
    </div>
</footer>

 <!-- start scroll to top -->
<a href="javascript:" id="return-to-top">
    <i class="fas fa-chevron-up"></i>
</a>