<!-- Favicons -->
<link rel="shortcut icon" href="{{ asset('assets/img/admin/favicons/favicon.ico') }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ asset('assets/img/admin/favicons/apple-touch-icon.png') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ asset('assets/img/admin/favicons/favicon-32x32.png') }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assets/img/admin/favicons/favicon-16x16.png') }}">
<link rel="manifest" href="{{ asset('assets/img/admin/favicons/site.webmanifest') }}">
