<nav class="navbar navbar-expand-lg navbar-dark bg-info">

    <a class="navbar-brand" href="{{ path('index') }}">
        <img src="/assets/img/snowtricks_logo_tspt_light_300.png" alt="Snowtricks" width="200" class="d-inline-block align-top">
    </a>

    {% if app.user %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse ml-3" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
                <!--<li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fas fa-tachometer-alt"></i>
                        Dashboard
                    </a>
                </li>-->
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_posts_index') }}">
                        <i class="fas fa-pencil-alt"></i>
                        Articles
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_category_index') }}">
                        <i class="fas fa-stream"></i>
                        Catégories
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_comments_index') }}">
                        <i class="fas fa-comments"></i>
                        Commentaires
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_users_index') }}">
                        <i class="fas fa-users"></i>
                        Utilisateurs
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="{{ path('index') }}" target="_blank" class="nav-link">
                        <i class="fas fa-eye"></i>
                        Voir le site
                    </a>
                </li>
                {% if app.user %}
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="accountDropdownLink">
                            <img 
                                src="{% if app.user.avatar is null %} {{ avatars_dir ~ avatar_default }} {% else %} {{ avatars_dir ~ app.user.avatar }} {% endif%}" 
                                class="avatar avatar-mini" 
                                alt="Avatar de {{ app.user.fullName | title }}"
                            > 
                            {{ app.user.fullName | title }}
                        </a>

                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDopdownLink">
                            <a href="{{ path('admin_account_logout') }}" class="dropdown-item">Déconnexion</a>
                        </div>
                    </li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
</nav>