<div class="d-flex justify-content-center">
    <ul class="pagination">
        <li class="page-item {% if page == 1 %}disabled{% endif %}">
            <a class="page-link" href="{{ path(route, {'page' : 1 })}}">&laquo;</a>
        <li>
        <li class="page-item {% if page == 1 %}disabled{% endif %}">
            <a class="page-link" href="{{ path(route, {'page': page - 1}) }}">&lt;</a>
        </li>

        {% for i in range(max(page-2, 1), min(page+2, pages)) %}
        <li class="page-item {% if page == i %}active{% endif %}">
            <a class="page-link" href="{{ path(route, {'page': i}) }}">{{ i }}</a>
        </li>
        {% endfor %}

        <li class="page-item {% if page == pages %}disabled{% endif %}">
            <a class="page-link" href="{{ path(route, {'page': page + 1}) }}">&gt;</a>
        </li>
        <li class="page-item {% if page == pages %}disabled{% endif %}">
            <a class="page-link" href="{{ path(route, {'page' : pages })}}">&raquo;</a> 
        </li>
    </ul>
</div>