{% extends "admin/base-admin.html.twig" %}

{% block title %} Modification de commentaire {% endblock %}

{% block body %}

    <div class="container">
        <h1 class="my-5">Modification du commentaire n° {{comment.id}}</h1>

        {% include "/_partials/flash-messages.html.twig" %}
        
        <div class="alert alert-info">
            <strong>Article lié : </strong> {{ comment.post.title }}<br>
            <strong>Auteur : </strong> {{ comment.author.fullName | title }}<br>
            <strong>Date de création : </strong> {{ comment.datecreate|date('d/m/Y H:i') }} <br>
            <strong>Date de mise à jour : </strong> {% if comment.dateupdate is not null %} {{comment.dateupdate|date('d/m/Y H:i')}} {% else %} -- {% endif %}<br>
            <strong>Statut : </strong>{{ comment.status.name }}
        </div>

        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-9">
                {{ form_label(form.content) }}
                {{ form_widget(form.content) }}
            </div>
            <div class="col-md-3">
                {{ form_label(form.status) }}
                {{ form_widget(form.status) }}
            </div>
        </div>
        <div class="row d-flex justify-content-center mt-3">
            {{ form_widget(form.save) }}
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}