{% extends "admin/base-admin.html.twig" %}

{% block title %}Administration{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1 class="my-5">Gestion des commentaires</h1>

    {% include "/_partials/flash-messages.html.twig" %}
    
    <div class="table-responsive">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th class="w-5 d-none d-lg-table-cell">#</th>
                    <th class="w-5 text-center">Date</th>
                    <th class="w-10 text-center">Auteur</th>
                    <th class="w-30">Commentaire</th>
                    <th class="w-10 text-center">Statut</th>
                    <th class="w-20 d-none d-lg-table-cell">Article</th>
                    <th class="w-10" class="text-center">Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for comment in pagination.data %}
                <tr>
                    <td class="w-5 d-none d-lg-table-cell">{{comment.id}}</td>
                    <td class="w-10 text-center">
                        {{ comment.dateCreate | format_datetime('long', 'none', locale='fr') }}
                    </td>
                    <td class="w-10">
                        <a href="{{ path('admin_users_edit', {'id': comment.author.id}) }}">
                            <span class="d-none d-lg-block d-xl-inline-block">
                                <img 
                                    src="{% if comment.author.avatar is null %} {{ avatars_dir ~ avatar_default }} {% else %} {{ avatars_dir ~ comment.author.avatar }} {% endif%}" 
                                    alt="Avatar de {{ comment.author.fullName | title }}" 
                                    class="mr-2 rounded-circle avatar avatar-mini"
                                >
                            </span>
                             {{ comment.author.fullName | title }}
                        </a>
                    </td>
                    <td class="w-30">
                    {{ comment.content | striptags | trim | u.truncate(80, '...') }}
                    </td>
                    <td class="w-10 text-center">
                    {% if comment.status.id == 1 %}
                            {% set badge = "badge-warning" %}
                            {% set icon = "fas fa-times-circle" %}
                        {% elseif comment.status.id == 2 %}
                            {% set badge = "badge-info" %}
                            {% set icon = "fas fa-check-circle" %}
                        {% elseif comment.status.id == 3 %}
                            {% set badge = "badge-secondary" %}
                            {% set icon = "fas fa-times-circle" %}
                        {% endif %}
                        <span class="badge {{ badge }}"><i class=" {{ icon }}"></i> {{ comment.status.name }}</span>
                    </td>
                    <td class="w-20 d-none d-lg-table-cell">
                        <a href="{{ path('admin_posts_edit', {'id': comment.post.id}) }}">{{ comment.post.title }}</a>
                    </td>
                    <td class="w-10 text-center actions">
                        <a href="{{ path('admin_comments_edit', {'id': comment.id}) }}" class="btn btn-info"><i class="fas fa-edit"></i></a>
                        <a href="#" data-toggle="modal" data-target="{{ '#confirmModal-' ~ comment.id }}" class="btn btn-danger deleteBtn"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {{ pagination.display }}

    {% for comment in pagination.data %}
        <div class="modal" id="{{ 'confirmModal-' ~ comment.id }}">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    {{ render(controller('App\\Controller\\AdminCommentController::confirmDelete', { 'id': comment.id })) }}
                </div>
            </div>
        </div>
    {% endfor %}

</div>
{% endblock %}