{% extends "front/base-front.html.twig" %}

{% block title %}Page non autorisée{% endblock %}

{% block nav %}{% endblock %}

{% block body %}

    <div class="container-fluid page-error page-error p-0 m-0">
        <div class="row page-error-inner page-403">
            <div class="col-12">
                <div class="content col-lg-6 d-flex flex-column justify-content-center">
                    <p class="large text-center">403</p>
                    <p class="text text-center">Dommage.<br />Vous n'avez pas le droit d'accéder à cette ressource !</p>
                    <p class="text-center"><a href="{{ path('index') }}" class="btn btn-primary">Retour à l'accueil</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}{% endblock %}